#################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                              					#
# Update me and then run 'docker-compose run myconsumer pip_freeze'                             #
#                                                                              					#
#################################################################################################

aet.consumer
blessings
flake8
mock
pytest
pytest-runner
