#########################################################################################
#                                                                              		    #
#                              Frozen requirements                             		    #
#                                                                              		    #
#                               DO NOT CHANGE !!!                              		    #
#                                                                              		    #
# To update this first update 'primary-requirements.txt'                       		    #
# then run 'docker-compose run myconsumer pip_freeze'                                   #
#                                                                              		    #
#########################################################################################
aet.consumer==0.9.1
attrs==18.1.0
blessings==1.6.1
decorator==4.3.0
flake8==3.5.0
jsonpath-ng==1.4.3
kafka==1.3.5
mccabe==0.6.1
mock==2.0.0
more-itertools==4.1.0
pbr==4.0.3
pluggy==0.6.0
ply==3.11
py==1.5.3
pycodestyle==2.3.1
pyflakes==1.6.0
pytest==3.5.1
pytest-runner==4.2
six==1.11.0
spavro==1.1.17
