[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

"aether.client" = {path = "./../aether-client", editable = true}
"aether.mocker" = {path = ".", editable = true}


[dev-packages]

"autopep8" = "*"
