#!/bin/bash
set -e

# Production specific functions

setup_user() {
  # arguments: -u=admin -p=secretsecret -e=admin@gather2.org -t=01234656789abcdefghij
  ./manage.py setup_admin -p=$ADMIN_PASSWORD
}

check_variable() {
  if [ -n "$1" ];
  then
    echo "$2 in Ordnung!"
  else
    echo "Missing $2"
    exit -1
  fi
}

check_core() {
  # check if CORE env variables were set
  check_variable $GATHER_CORE_URL   "CORE url"
  check_variable $GATHER_CORE_TOKEN "CORE token"
}

check_odk() {
  if [[ "$GATHER_MODULES" == *odk-importer* ]];
  then
    # check if ODK env variables were set only if it's included in the modules list.
    check_variable $GATHER_ODK_URL   "ODK url"
    check_variable $GATHER_ODK_TOKEN "ODK token"
  fi
}

check_sync() {
  if [[ "$GATHER_MODULES" == *couchdb-sync* ]];
  then
    # check if SYNC env variables were set only if it's included in the modules list.
    check_variable $GATHER_SYNC_URL   "SYNC url"
    check_variable $GATHER_SYNC_TOKEN "SYNC token"
  fi
}

check_core
check_odk
check_sync
setup_user
