coverage
Django
hypothesis
psycopg2
ipdb
djangorestframework
django-storages
django-cas-ng
markdown
django-ums-client
uwsgi
django-extensions
Werkzeug
pyOpenSSL
pytz
xmltodict
defusedxml
lxml
requests
python-dateutil
geojson
pyxform
