#############################################################
#                                                           #
#                   Primary requirements                    #
#                                                           #
#                       CHANGE ME !!!                       #
#                                                           #
# Update me and then run './entrypoint.sh pip_freeze'       #
#                                                           #
#############################################################

coverage
defusedxml
django
django-cas-ng
django-cors-headers
django-extensions
django-storages
django-ums-client
djangorestframework
flake8
geojson
ipdb
lxml
psycopg2
pyopenssl
python-dateutil
pytz
pyxform
requests
uwsgi
xmltodict
