###
# frozen requirements DO NOT CHANGE
# To update this update 'primary-requirements.txt' then run ./entrypoint.sh pip_freeze
###
appdirs==1.4.3
asn1crypto==0.22.0
cffi==1.10.0
coverage==4.0.3
cryptography==1.8.1
decorator==4.0.11
defusedxml==0.5.0
Django==1.9
django-extensions==1.7.8
djangorestframework==3.3.0
FormEncode==1.3.1
geojson==1.3.4
hypothesis==1.15.0
idna==2.5
ipdb==0.10.2
ipython==6.0.0
ipython-genutils==0.2.0
jedi==0.10.2
linecache2==1.0.0
lxml==3.7.3
Markdown==2.6.8
packaging==16.8
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.1
pycparser==2.17
Pygments==2.2.0
pyOpenSSL==17.0.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
pyxform==0.9.24
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
traceback2==1.4.0
traitlets==4.3.2
typing==3.6.1
unicodecsv==0.14.1
unittest2==1.1.0
uWSGI==2.0.15
wcwidth==0.1.7
Werkzeug==0.12.1
xlrd==1.0.0
xmltodict==0.10.2