[run]
branch = true
omit = /code/gather2-core/core/apps.py
source = /code/gather2-core/core

[paths]
source = /code/gather2-core/core
omit = /code/gather2-core/core/apps.py

[report]
omit = /code/gather2-core/core/apps.py
show_missing = true
fail_under = 100
