[run]
branch = true
omit = ./gather2-core/core/apps.py
source = ./gather2-core/core

[paths]
source = ./gather2-core/core
omit = ./gather2-core/core/apps.py

[report]
omit = ./gather2-core/core/apps.py
show_missing = true
fail_under = 100
