### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Visual Studio Code
.vscode

# Eclipse
.project
.classpath
.settings

# IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
out

# Ant
build.xml
local.properties
proguard.cfg

# Gradle
.gradle
build

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

### SublimeText ###
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
node_modules/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# PyBuilder
target/


### IPythonNotebook ###
# Temporary data
.ipynb_checkpoints/


### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py


### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
.hypothesis
coverage_html/

# Deployment
tmp
.ebextensions

# Terraform
.terraform
terraform.tfstate.backup


# Webpack build files
**/assets/bundles/
