sudo: required
language: python
python:
- '3.6'
services:
- docker
cache:
  directories:
  - "$HOME/.cache/pip"
#before_script:
#- docker login -u ehealthafricadevops -p $DOCKER_HUB_PASSWORD
#- "./scripts/build_aether_utils_and_distribute.sh"
#- "./scripts/build_common_and_distribute.sh"
#script:
## First, run the kernel and odk tests in a minikube cluster. If everything goes
## well, run all tests in a docker-compose environment.
#- "./scripts/kubernetes/run_travis.sh && ./scripts/test_all.sh"
#after_script:
#- "./scripts/kill_all.sh"

deploy:
- provider: script
  script: "./scripts/release.sh"
  skip_cleanup: true

  branches:
    only:
      - /^release-\d+\.\d+(\.\d+)?(-\S*)?$/
env:
  global:
    secure: PmbhrEFpSypsToBPSTPOxPPgzr6YM+kpFutHn9WJm5VNicukhstPSxo5q4nZ6wrHL+8C3GsJjVMA+YEg2r8kU9w/uEFwJYn4irEWivKwAdglhZLIyfXmhPbBSHoPvDFfAp7mIvX57QOuKvw/ZA22zgsFN3Di9b5VPN6khYwALpAsEJb9qj8UewPfFbcJBhR9l01ZTOcnN27vT6rlCA+WKleViYjMvO8Ru+1H/sOSFEJYA9SRroa2fc8N249tM7MNt9NmDBilOSai98TujHMcgvPM6n1D0YFjqAm6KyvQpW3QdNF5mfhzJVFM48SpsQpzE2xMDeU+NBtYmUV1BgdJcv56qC88NUtOxtK3oQ3NN2l5XyJnLLM3R5zGHyCZ1AOc8w0y8Bn7yYElTwMXAMnsNzuWE+fXR7MJjVIoDkvgmAfnDvDpOwPNC2P/6DDu5doQvdkM//hNGvxlbGnYsoTLBKuFWwy84YXs3ACSFHtKUMf+/yBsVWJ3Nqe/YCMt1052sd7cumjcgyCQNu0xNv6DRoPqNTnqmWzHHROp8DShGEGG+6k8QD2l14thedV7o/esSKSYBKlkcDt1+4F+VKGYKq5jEtMu8dLELoZ1ldZLWNmyYi81FkA+c5BXHOh+ixTkoamqZ1pkyCF0Q82V9wGkVZh+BJxwYb+9tcWy8Yw/llw=
