language: python

python:
  - "2.7"

services:
  - docker

cache:
  directories:
    - $HOME/.cache/pip

install:
  - pip install flake8
  - pip install awscli ecs-deploy

before_script:
  - flake8
  - docker-compose up -d db
  - docker-compose run core setuplocaldb

script:
  - docker-compose run core test_coverage

deploy:
  - provider: script
    script: ./scripts/deploy.sh
    skip_cleanup: true
    on:
      branch: develop
