# ------------------------------------------------------------------------------
# Config file for ALL TESTING containers:
#
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
#  * Aether UI Module
#  * Aether Client
#  * Aether Integration Tests
#  * Producer Module
#  * Zookeper & Kafka
# ------------------------------------------------------------------------------

version: "2.1"

services:

  # ---------------------------------
  # Database containers
  # ---------------------------------

  db-test:
    extends:
      file: ./docker-compose-base.yml
      service: postgres-base

  couchdb-test:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-base

  redis-test:
    extends:
      file: ./docker-compose-base.yml
      service: redis-base


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel-test:
    extends:
      file: ./docker-compose-base.yml
      service: kernel-base
    environment:
      DB_NAME: kernel-test
      DEBUG: null # set to null to remove previous value
      MEDIA_ROOT: /tmp/
      PGHOST: db-test
      TESTING: "true"
      WEB_SERVER_PORT: 9000
    depends_on:
      - db-test
    ports:
      - "9000:9000"


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk-test:
    extends:
      file: ./docker-compose-base.yml
      service: odk-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9000
      DB_NAME: odk-test
      DEBUG: null # set to null to remove previous value
      MEDIA_ROOT: /tmp/
      PGHOST: db-test
      TESTING: "true"
      WEB_SERVER_PORT: 9002
    depends_on:
      - db-test
      - kernel-test
    ports:
      - "9002:9002"


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync-test:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-sync-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9000
      COUCHDB_URL: http://couchdb-test:5984
      DB_NAME: couchdb-sync-test
      DEBUG: null # set to null to remove previous value
      MEDIA_ROOT: /tmp/
      PGHOST: db-test
      REDIS_HOST: redis-test
      TESTING: "true"
      WEB_SERVER_PORT: 9006
      GOOGLE_CLIENT_ID: secret_google_client_id
    depends_on:
      - couchdb-test
      - db-test
      - kernel-test
      - redis-test
    ports:
      - "9006:9006"


  # ---------------------------------
  # Aether UI container
  # ---------------------------------

  ui-test:
    extends:
      file: ./docker-compose-base.yml
      service: ui-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9000
      DB_NAME: ui-test
      DEBUG: null # set to null to remove previous value
      PGHOST: db-test
      TESTING: "true"
      WEB_SERVER_PORT: 9004
    depends_on:
      - db-test
      - kernel-test
    ports:
      - "9004:9004"

  ui-assets-test:
    extends:
      file: docker-compose-base.yml
      service: ui-assets-base


  # ---------------------------------
  # Aether Client container
  # ---------------------------------

  client-test:
    image: aether/client
    build: ./aether-utils/aether-client
    environment:
      KERNEL_ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
    volumes:
      - ./aether-utils/aether-client:/code
    depends_on:
      - kernel-test


  # ---------------------------------
  # Aether Integration Tests
  # ---------------------------------

  integration-test:
    image: aether/integration
    build: ./test-aether-integration-module
    environment:
      KERNEL_ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
    volumes:
      - ./test-aether-integration-module:/code
    depends_on:
      - db-test
      - kernel-test
      - kafka-test
      - producer-test


  # ---------------------------------
  # Aether Kafka Containers
  # ---------------------------------

  zookeeper-test:
    extends:
      file: ./docker-compose-base.yml
      service: zookeeper-base

  kafka-test:
    extends:
      file: ./docker-compose-base.yml
      service: kafka-base
    depends_on:
      - zookeeper-test
    links:
      - zookeeper-test
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-test:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-test:29092
      ADVERTISED_HOST_NAME: kafka-test


  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  producer-test:
    extends:
      file: ./docker-compose-base.yml
      service: aether-producer-base
    environment:
      PRODUCER_SETTINGS_FILE: /code/producer/test_settings.json
      KERNEL_ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
    ports:
      - "9005:9005"
    volumes:
      - ./aether-producer/tests:/code/tests
    # links:
    #   - kafka-test
    #   - zookeeper-test
    command: start_test
