# ------------------------------------------------------------------------------
# Aether Common module setup
# ------------------------------------------------------------------------------

version: "2"

services:

  common:
    build: ./aether-common-module
    environment:
      TESTING: "true"
      # required environment variables
      DJANGO_SECRET_KEY: secret
      DJANGO_STORAGE_BACKEND: filesystem
      PGPASSWORD: secretsecret
      PGUSER: dbuser
      PGHOST: db-test
      PGPORT: "9999"
      DB_NAME: common
      # required by kernel module
      AETHER_KERNEL_URL_TEST: http://kernel-test
    volumes:
      - ./aether-common-module:/code
    command: build
