# ------------------------------------------------------------------------------
# Base settings for these containers:
#
#  * Databases + Minio + Keycloak + NGINX containers (use same settings in all files)
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
#  * Aether UI & UI Assets
#  * Zookeper & Kafka
#  * Aether Kafka Producer
#
# These container will be extended in the other DC files with dependencies and networks.
# Volumes and environment variables can be overriden in those files too.
# See more in: https://docs.docker.com/compose/extends/
# ------------------------------------------------------------------------------

version: "2.1"

services:

  # ---------------------------------
  # Database + NGINX containers
  # ---------------------------------

  postgres-base:
    image: postgres:10-alpine
    environment:
      PGUSER: postgres
    healthcheck:
      test: pg_isready
      interval: 2s
      timeout: 3s
      retries: 30

  couchdb-base:
    image: couchdb:2.3
    environment:
      COUCHDB_USER: ${COUCHDB_USER}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}
    volumes:
      # enable cors for mobile app in-browser development:
      - ./local-setup/couchdb/config.ini:/usr/local/etc/couchdb/local.ini

  redis-base:
    image: redis:alpine
    command: >
      redis-server
      --requirepass ${REDIS_PASSWORD}
      --notify-keyspace-events KEA
      --appendonly yes
      --auto-aof-rewrite-percentage 100
      --auto-aof-rewrite-min-size 64mb

  nginx-base:
    image: nginx:alpine
    volumes:
      # local setup
      - ./local-setup/nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./local-setup/nginx/sites-enabled:/etc/nginx/sites-enabled

      # nginx log files
      - ./.persistent_data/nginx:/var/log/nginx

      # static folders per container
      - ./.persistent_data/static:/static
    ports:
      - 80:80
    extra_hosts:
      - ${NETWORK_DOMAIN}:127.0.0.1
    healthcheck:
      test: nginx -t
      interval: 5s
      timeout: 3s
      retries: 30

  minio-base:
    image: minio/minio:latest
    volumes:
      - ./.persistent_data/media:/data
    environment:
      MINIO_ACCESS_KEY: ${MINIO_STORAGE_ACCESS_KEY}
      MINIO_SECRET_KEY: ${MINIO_STORAGE_SECRET_KEY}
    command: minio server --quiet --address minio:9090 /data

  keycloak-base:
    image: jboss/keycloak:latest
    environment:
      DB_VENDOR: POSTGRES
      DB_ADDR: db
      DB_DATABASE: keycloak
      DB_USER: keycloak
      DB_PASSWORD: ${KEYCLOAK_DB_PASSWORD}

      KEYCLOAK_USER: ${KEYCLOAK_ADMIN_USERNAME}
      KEYCLOAK_PASSWORD: ${KEYCLOAK_ADMIN_PASSWORD}
      KEYCLOAK_HTTP_PORT: 8080


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel-base:
    image: aether-kernel
    build: ./aether-kernel
    stdin_open: true
    tty: true
    environment:
      CSRF_COOKIE_DOMAIN: ${NETWORK_DOMAIN}
      DJANGO_SECRET_KEY: ${KERNEL_DJANGO_SECRET_KEY}
      LOGGING_FORMATTER: verbose
      HTML_SELECT_CUTOFF: 10
      PROFILING_ENABLED: "true"

      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_AETHER_CLIENT}
      KEYCLOAK_BEHIND_SCENES: ${KEYCLOAK_BEHIND_SCENES}

      MULTITENANCY: ${MULTITENANCY}
      DEFAULT_REALM: ${DEFAULT_REALM}
      REALM_COOKIE: ${REALM_COOKIE}

      BUCKET_NAME: kernel
      DJANGO_STORAGE_BACKEND: minio
      MINIO_STORAGE_ACCESS_KEY: ${MINIO_STORAGE_ACCESS_KEY}
      MINIO_STORAGE_SECRET_KEY: ${MINIO_STORAGE_SECRET_KEY}
      MINIO_STORAGE_ENDPOINT: minio:9090
      MINIO_STORAGE_MEDIA_URL: http://minio:9090/kernel
      MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET: "true"
      MINIO_STORAGE_AUTO_CREATE_MEDIA_POLICY: "true"

      APP_NAME: Aether Kernel
      APP_URL: /kernel
      STATIC_URL: /static/kernel/

      ADMIN_USERNAME: ${KERNEL_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${KERNEL_ADMIN_TOKEN}

      DB_NAME: aether
      PGHOST: db
      PGPASSWORD: ${KERNEL_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      EXPORT_CSV_ESCAPE: "\\"
      EXPORT_CSV_QUOTES: "\""
      EXPORT_CSV_SEPARATOR: ","
      EXPORT_DATA_FORMAT: split
      EXPORT_HEADER_CONTENT: labels
      EXPORT_HEADER_SEPARATOR: /
      EXPORT_HEADER_SHORTEN: "no"

      REDIS_DB: 0
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: 6379
      WRITE_ENTITIES_TO_REDIS: ${WRITE_ENTITIES_TO_REDIS}

      WEB_SERVER_PORT: 8100
    volumes:
      - ./aether-kernel:/code
      # to speed up SDK development changes
      - ${SDK_PATH:-../aether-django-sdk-library}/aether/sdk:/usr/local/lib/python3.7/site-packages/aether/sdk

      # static folder
      - ./.persistent_data/static/kernel:/var/www/static
      # temporary folder for Excel files
      - ./.persistent_data/export/kernel:/tmp
      # backup folder
      - ./.persistent_data/backups/kernel:/backups
    command: start_dev


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk-base:
    image: aether-odk
    build: ./aether-odk-module
    stdin_open: true
    tty: true
    environment:
      CSRF_COOKIE_DOMAIN: ${NETWORK_DOMAIN}
      DJANGO_SECRET_KEY: ${ODK_DJANGO_SECRET_KEY}
      LOGGING_FORMATTER: verbose
      HTML_SELECT_CUTOFF: 10
      PROFILING_ENABLED: "true"

      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_AETHER_CLIENT}
      KEYCLOAK_BEHIND_SCENES: ${KEYCLOAK_BEHIND_SCENES}

      MULTITENANCY: ${MULTITENANCY}
      DEFAULT_REALM: ${DEFAULT_REALM}
      REALM_COOKIE: ${REALM_COOKIE}

      BUCKET_NAME: odk
      DJANGO_STORAGE_BACKEND: minio
      MINIO_STORAGE_ACCESS_KEY: ${MINIO_STORAGE_ACCESS_KEY}
      MINIO_STORAGE_SECRET_KEY: ${MINIO_STORAGE_SECRET_KEY}
      MINIO_STORAGE_ENDPOINT: minio:9090
      MINIO_STORAGE_MEDIA_URL: http://minio:9090/odk
      MINIO_STORAGE_AUTO_CREATE_MEDIA_BUCKET: "true"
      MINIO_STORAGE_AUTO_CREATE_MEDIA_POLICY: "true"

      APP_NAME: Aether ODK
      APP_URL: /odk
      STATIC_URL: /static/odk/

      ADMIN_USERNAME: ${ODK_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${ODK_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${ODK_ADMIN_TOKEN}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://${NETWORK_DOMAIN}/kernel
      AETHER_KERNEL_URL_TEST: http://kernel-test:9100

      DB_NAME: odk
      PGHOST: db
      PGPASSWORD: ${ODK_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      WEB_SERVER_PORT: 8102
    volumes:
      - ./aether-odk-module:/code
      # to speed up SDK development changes
      # - ${SDK_PATH:-../aether-django-sdk-library}/aether/sdk:/usr/local/lib/python3.7/site-packages/aether/sdk

      # static folder
      - ./.persistent_data/static/odk:/var/www/static
      # backup folder
      - ./.persistent_data/backups/odk:/backups
    command: start_dev


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync-base:
    image: aether-couchdb-sync
    build: ./aether-couchdb-sync-module
    stdin_open: true
    tty: true
    environment:
      CSRF_COOKIE_DOMAIN: ${NETWORK_DOMAIN}
      DJANGO_SECRET_KEY: ${COUCHDB_SYNC_DJANGO_SECRET_KEY}
      LOGGING_FORMATTER: verbose
      HTML_SELECT_CUTOFF: 10
      PROFILING_ENABLED: "true"

      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_AETHER_CLIENT}
      KEYCLOAK_BEHIND_SCENES: ${KEYCLOAK_BEHIND_SCENES}

      MULTITENANCY: ${MULTITENANCY}
      DEFAULT_REALM: ${DEFAULT_REALM}
      REALM_COOKIE: ${REALM_COOKIE}

      APP_NAME: Aether CouchDB-Sync
      APP_URL: /sync
      STATIC_URL: /static/sync/

      ADMIN_USERNAME: ${COUCHDB_SYNC_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${COUCHDB_SYNC_ADMIN_PASSWORD}
      ADMIN_TOKEN: ${COUCHDB_SYNC_ADMIN_TOKEN}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://${NETWORK_DOMAIN}/kernel
      AETHER_KERNEL_URL_TEST: http://kernel-test:9100

      GOOGLE_CLIENT_ID: ${COUCHDB_SYNC_GOOGLE_CLIENT_ID}

      COUCHDB_SERVER_URL: http://${NETWORK_DOMAIN}/_couchdb
      COUCHDB_URL: http://couchdb:5984
      COUCHDB_USER: ${COUCHDB_USER}
      COUCHDB_PASSWORD: ${COUCHDB_PASSWORD}

      DB_NAME: couchdb-sync
      PGHOST: db
      PGPASSWORD: ${COUCHDB_SYNC_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      REDIS_DB: 0
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: 6379

      WEB_SERVER_PORT: 8106
    volumes:
      - ./aether-couchdb-sync-module:/code
      # to speed up SDK development changes
      # - ${SDK_PATH:-../aether-django-sdk-library}/aether/sdk:/usr/local/lib/python3.7/site-packages/aether/sdk

      # static folder
      - ./.persistent_data/static/sync:/var/www/static
      # backup folder
      - ./.persistent_data/backups/sync:/backups
    command: start_dev


  # ---------------------------------
  # Aether UI
  # ---------------------------------

  ui-base:
    image: aether-ui
    build: ./aether-ui
    stdin_open: true
    tty: true
    environment:
      CSRF_COOKIE_DOMAIN: ${NETWORK_DOMAIN}
      DJANGO_SECRET_KEY: ${UI_DJANGO_SECRET_KEY}
      LOGGING_FORMATTER: verbose
      HTML_SELECT_CUTOFF: 10
      PROFILING_ENABLED: "true"

      KEYCLOAK_SERVER_URL: ${KEYCLOAK_SERVER_URL}
      KEYCLOAK_CLIENT_ID: ${KEYCLOAK_AETHER_CLIENT}
      KEYCLOAK_BEHIND_SCENES: ${KEYCLOAK_BEHIND_SCENES}

      MULTITENANCY: ${MULTITENANCY}
      DEFAULT_REALM: ${DEFAULT_REALM}
      REALM_COOKIE: ${REALM_COOKIE}

      APP_NAME: Aether
      STATIC_URL: /static/ui/

      ADMIN_USERNAME: ${UI_ADMIN_USERNAME}
      ADMIN_PASSWORD: ${UI_ADMIN_PASSWORD}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://${NETWORK_DOMAIN}/kernel
      AETHER_KERNEL_URL_TEST: http://kernel-test:9100

      DB_NAME: ui
      PGHOST: db
      PGPASSWORD: ${UI_DB_PASSWORD}
      PGPORT: 5432
      PGUSER: postgres

      # use this value with "start_dev" command and webpack otherwise comment it out
      WEBPACK_STATS_FILE: /code/aether/ui/assets/bundles/webpack-stats.json

      WEB_SERVER_PORT: 8104
    volumes:
      - ./aether-ui:/code
      # to speed up SDK development changes
      # - ${SDK_PATH:-../aether-django-sdk-library}/aether/sdk:/usr/local/lib/python3.7/site-packages/aether/sdk

      # static folder
      - ./.persistent_data/static/ui:/var/www/static
      # backup folder
      - ./.persistent_data/backups/ui:/backups
    command: start_dev

  ui-assets-base:
    image: aether-ui-assets
    build: ./aether-ui/aether/ui/assets
    stdin_open: true
    tty: true
    volumes:
      #################################################
      #                    WARNING                    #
      # do not include the root folder as volume or   #
      # `node_modules` folder will not be available   #
      #################################################

      # include all folders and root files manually :'(
      - ./aether-ui/aether/ui/assets/apps:/code/apps
      - ./aether-ui/aether/ui/assets/bundles:/code/bundles
      - ./aether-ui/aether/ui/assets/conf:/code/conf
      - ./aether-ui/aether/ui/assets/css:/code/css
      - ./aether-ui/aether/ui/assets/tests:/code/tests
      - ./aether-ui/aether/ui/assets/package.json:/code/package.json
    command: start_dev


  # ---------------------------------
  # Kafka & Zookeeper
  # ---------------------------------

  zookeeper-base:
    image: confluentinc/cp-zookeeper:5.2.1
    environment:
      ZOOKEEPER_CLIENT_PORT: 32181
      ZOOKEEPER_TICK_TIME: 2000

  kafka-base:
    image: confluentinc/cp-kafka:5.2.1
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      ADVERTISED_HOST_NAME: kafka


  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  aether-producer-base:
    image: aether-producer
    build: ./aether-producer
    stdin_open: true
    environment:
      PYTHONUNBUFFERED: 1

      # default settings file
      PRODUCER_SETTINGS_FILE: /code/producer/settings.json

      PRODUCER_ADMIN_USER: ${PRODUCER_ADMIN_USER}
      PRODUCER_ADMIN_PW: ${PRODUCER_ADMIN_PW}

      # These variables will override the ones indicated in the settings file
      KERNEL_URL: http://${NETWORK_DOMAIN}/kernel
      KERNEL_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_PASSWORD: ${KERNEL_ADMIN_PASSWORD}

      POSTGRES_HOST: db
      POSTGRES_DBNAME: aether
      POSTGRES_USER: ${KERNEL_READONLY_DB_USERNAME}
      POSTGRES_PASSWORD: ${KERNEL_READONLY_DB_PASSWORD}

      OFFSET_DB_HOST: db
      OFFSET_DB_USER: postgres
      OFFSET_DB_PORT: 5432
      OFFSET_DB_PASSWORD: ${KERNEL_DB_PASSWORD}
      OFFSET_DB_NAME: producer_offset_db

      SERVER_PORT: 5005
    volumes:
      - ./aether-producer:/code
    command: start

# ---------------------------------
  # Aether Entity Extractor
  # ---------------------------------

  exm-base:
    image: aether-entity-extractor
    build: ./aether-entity-extraction-module
    stdin_open: true
    tty: true
    environment:
      DEFAULT_REALM: ${DEFAULT_REALM}

      AETHER_KERNEL_TOKEN: ${KERNEL_ADMIN_TOKEN}
      AETHER_KERNEL_URL: http://${NETWORK_DOMAIN}/kernel
      DJANGO_SECRET_KEY: ${KERNEL_DJANGO_SECRET_KEY}

      REDIS_DB: 0
      REDIS_HOST: redis
      REDIS_PASSWORD: ${REDIS_PASSWORD}
      REDIS_PORT: 6379
    volumes:
      - ./aether-entity-extraction-module:/code
      # to speed up SDK development changes
      - ${SDK_PATH:-../aether-django-sdk-library}/aether/sdk:/usr/local/lib/python3.7/site-packages/aether/sdk
    command: start