# ------------------------------------------------------------------------------
# Config file for ALL TESTING containers:
#
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
# ------------------------------------------------------------------------------

version: "2"

services:

  # ---------------------------------
  # Database containers
  # ---------------------------------

  db-test:
    extends:
      file: docker-compose-base.yml
      service: postgres-base

  couchdb-test:
    extends:
      file: docker-compose-base.yml
      service: couchdb-base

  redis-test:
    extends:
      file: docker-compose-base.yml
      service: redis-base


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel-test:
    extends:
      file: docker-compose-base.yml
      service: kernel-base
    environment:
      MEDIA_ROOT: /tmp/
      RDS_DB_NAME: kernel-test
      RDS_HOSTNAME: db-test
      TESTING: "true"
      WEB_SERVER_PORT: 9000
    depends_on:
      - db-test
    ports:
      - "9000:9000"
    depends_on:
      - db-test


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk-test:
    extends:
      file: docker-compose-base.yml
      service: odk-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9000
      MEDIA_ROOT: /tmp/
      RDS_DB_NAME: odk-test
      RDS_HOSTNAME: db-test
      TESTING: "true"
      WEB_SERVER_PORT: 9443
    depends_on:
      - db-test
      - kernel-test
    ports:
      - "9443:9443"
    depends_on:
      - db-test
      - kernel-test


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync-test:
    extends:
      file: docker-compose-base.yml
      service: couchdb-sync-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9000
      COUCHDB_URL: http://couchdb-test:5984
      MEDIA_ROOT: /tmp/
      RDS_DB_NAME: couchdb-sync-test
      RDS_HOSTNAME: db-test
      REDIS_HOST: redis-test
      TESTING: "true"
      WEB_SERVER_PORT: 9666
    depends_on:
      - couchdb-test
      - db-test
      - kernel-test
      - redis-test
    ports:
      - "9666:9666"

  # ---------------------------------
  # Aether UI container
  # ---------------------------------

  ui-test:
    extends:
      file: docker-compose-base.yml
      service: ui-base
    environment:
      TESTING: "true"
      AETHER_KERNEL_URL: http://kernel-test:9000
      RDS_HOSTNAME: db-test
    depends_on:
      - db-test
      - webpack-test

  # ---------------------------------
  # Webpack container
  # ---------------------------------

  webpack-test:
    extends:
      file: docker-compose-base.yml
      service: webpack-base

  # ---------------------------------
  # Aether Client container
  # ---------------------------------
  client-test:
    build: aether-client
    image: aether/client

    volumes:
      - ./aether-client:/code

    depends_on:
      - db-test
      - kernel-test
