version: "2"

services:
    db:
        image: postgres:9.5.2

    couchdb:
        image: couchdb:1.7.1
        environment:
            COUCHDB_USER: admin
            COUCHDB_PASSWORD: secret
        volumes:
            # enable cors for mobile app in-browser development:
            - ./aether-couchdb-sync/couchdb/conf/config.ini:/usr/local/etc/couchdb/local.ini
        ports:
            - "5984:5984"

    redis:
        image: redis:3.2-alpine


    # ---------------------------------
    # Aether Kernel container
    # ---------------------------------

    kernel:
        build: aether-kernel
        image: kernel
        environment:
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .aether.local
            DEBUG: "true"
            HOSTNAME: kernel.aether.local

            RDS_DB_NAME: aether
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8000
        volumes:
            - ./aether-kernel:/code
        depends_on:
            - db
        ports:
            - "8000:8000"
        command: start_dev


    # ---------------------------------
    # ODK Adapter container
    # ---------------------------------

    odk-importer:
        stdin_open: true
        tty: true
        build: aether-odk-importer
        image: odk-importer
        environment:
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .aether.local
            DEBUG: "true"
            HOSTNAME: odk.aether.local

            AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            AETHER_KERNEL_URL: http://kernel:8000
            AETHER_KERNEL_URL_TEST: http://kernel-test:9000

            RDS_DB_NAME: odk_importer
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8443
        volumes:
            - ./aether-odk-importer:/code
        depends_on:
            - kernel
            - db
        ports:
            - "8443:8443"
        command: start_dev
        
    enketo:
      build: enketo
      image: enketo
      command: run_dev
      ports:
          - "8005:8005"
          - "8085:8085"

    # ---------------------------------
    # Mobile Sync containers
    # ---------------------------------

    couchdb-sync:
        build: aether-couchdb-sync
        image: couchdb-sync
        environment: &sync-environment
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .aether.local
            DEBUG: "true"
            HOSTNAME: sync.aether.local

            COUCHDB_PASSWORD: secret
            COUCHDB_URL: http://couchdb:5984
            COUCHDB_USER: admin

            AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            AETHER_KERNEL_URL: http://kernel:8000
            AETHER_KERNEL_URL_TEST: http://kernel-test:9000

            GOOGLE_CLIENT_ID: "${GOOGLE_CLIENT_ID}"

            RDS_DB_NAME: couchdb_sync
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            REDIS_DB: 0
            REDIS_HOST: redis
            REDIS_PASSWORD: ""
            REDIS_PORT: 6379

            WEB_SERVER_PORT: 8666
        volumes: &sync-volumes
            - ./aether-couchdb-sync:/code
        depends_on: &sync-dependencies
            - kernel
            - couchdb
            - db
            - redis
        ports:
            - "8666:8666"
        command: start_dev

    couchdb-sync-rq:
        image: couchdb-sync
        environment: *sync-environment
        volumes: *sync-volumes
        depends_on: *sync-dependencies
        command: start_rq


    # ---------------------------------
    # UI containers
    # ---------------------------------

    ui:
        build: aether-ui
        image: ui
        environment: &ui-environment
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .aether.local
            DEBUG: "true"
            HOSTNAME: ui.aether.local
            STATIC_ROOT: /code/aether/ui/assets/bundles

            AETHER_ORG_NAME: eHealth Africa (Dev mode)

            AETHER_KERNEL_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            AETHER_KERNEL_URL: http://kernel:8000
            AETHER_KERNEL_URL_TEST: http://kernel-test:9000

            AETHER_MODULES: "odk-importer"

            AETHER_ODK_TOKEN: d5184a044bb5acff89a76ec4e67d0fcddd5cd3a1
            AETHER_ODK_URL: http://odk-importer:8443
            AETHER_ODK_URL_TEST: http://odk-importer-test:9443

            RDS_DB_NAME: ui
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8080
        volumes: &ui-volumes
            #################################################
            #                    WARNING                    #
            # do not include the root folder as volume or   #
            # `node_modules` folder will not be available   #
            #                                               #
            # - ./aether-ui:/code # DO NOT UNCOMMENT!!!    #
            #################################################

            - ./aether-ui/conf:/code/conf
            - ./aether-ui/aether:/code/aether

            - ./aether-ui/entrypoint.sh:/code/entrypoint.sh
            - ./aether-ui/manage.py:/code/manage.py
            - ./aether-ui/package.json:/code/package.json
        depends_on:
            - kernel
            - db
            - odk-importer
            - webpack
        ports:
            - "8080:8080"
        command: start_dev

    webpack:
        image: ui
        environment: *ui-environment
        volumes: *ui-volumes
        ports:
            - "3000:3000"
        command: start_webpack
