# ------------------------------------------------------------------------------
# Config file for these containers:
#
#  * Zookeper & Kafka
#  * Aether Kafka Producer
# ------------------------------------------------------------------------------

version: "2.1"

networks:
  aether:
    external:
      name: ${NETWORK_NAME}

services:

  # ---------------------------------
  # Kafka & Zookeeper
  # ---------------------------------

  zookeeper:
    extends:
      file: ./docker-compose-base.yml
      service: zookeeper-base
    restart: on-failure
    networks:
      - aether
    extra_hosts:
      - moby:127.0.0.1
      - ${NETWORK_DOMAIN}:${NETWORK_NGINX_IP}

  kafka:
    extends:
      file: docker-compose-base.yml
      service: kafka-base
    restart: on-failure
    depends_on:
      - zookeeper
    links:
      - zookeeper
    networks:
      - aether
    extra_hosts:
      - moby:127.0.0.1
      - ${NETWORK_DOMAIN}:${NETWORK_NGINX_IP}

  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  producer:
    extends:
      file: ./docker-compose-base.yml
      service: aether-producer-base
    restart: on-failure
    networks:
      - aether
    extra_hosts:
      - ${NETWORK_DOMAIN}:${NETWORK_NGINX_IP}
