# ------------------------------------------------------------------------------
# Config file for ALL containers:
#
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
#  * Aether UI Module
# ------------------------------------------------------------------------------

version: "2.1"

networks:
  internal:  # alias as internal
    external:
      name: aether_internal  # if this isn't explicitly set it inherits from the containing folder name (aether or not)


services:

  # ---------------------------------
  # Database containers
  # ---------------------------------

  db:
    extends:
      file: docker-compose-base.yml
      service: postgres-base
    networks:
      - internal

  couchdb:
    extends:
      file: docker-compose-base.yml
      service: couchdb-base
    networks:
      - internal

  redis:
    extends:
      file: docker-compose-base.yml
      service: redis-base
    networks:
      - internal


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel:
    extends:
      file: docker-compose-base.yml
      service: kernel-base
    volumes:
      - ./aether-common-module/aether/common:/code/aether/common
    depends_on:
      - db
    networks:
      internal:
        aliases:
          - kernel.aether.local


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk:
    extends:
      file: docker-compose-base.yml
      service: odk-base
    # uncomment to speed up common module development
    # volumes:
    #   - ./aether-common-module/aether/common:/code/aether/common
    depends_on:
      - db
      - kernel
    networks:
      internal:
        aliases:
          - odk.aether.local


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync:
    extends:
      file: docker-compose-base.yml
      service: couchdb-sync-base
    # uncomment to speed up common module development
    # volumes:
    #   - ./aether-common-module/aether/common:/code/aether/common
    depends_on: &sync-dependencies
      - couchdb
      - db
      - kernel
      - redis
    networks:
      internal:
        aliases:
          - sync.aether.local

  couchdb-sync-rq:
    extends:
      file: docker-compose-base.yml
      service: couchdb-sync-rq-base
    depends_on: *sync-dependencies
    networks:
      - internal

  # ---------------------------------
  # Aether UI module
  # ---------------------------------

  ui:
    extends:
      file: docker-compose-base.yml
      service: ui-base
    # uncomment to speed up common module development
    # volumes:
    #   - ./aether-common-module/aether/common:/code/aether/common
    depends_on:
      - db
      - kernel

      # UI depends on "ui-assets" to serve the assets with hot reloading (HMR)
      # to start "ui" without HMR execute first "docker-compose run ui-assets build"
      # - ui-assets
    networks:
      internal:
        aliases:
          - ui.aether.local

  ui-assets:
    extends:
      file: docker-compose-base.yml
      service: ui-assets-base
    networks:
      - internal


  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx:
    extends:
      file: docker-compose-base.yml
      service: nginx-base
    networks:
      - internal
