# ------------------------------------------------------------------------------
# Config file for ALL TESTING containers:
#
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
#  * Aether UI
#  * Zookeper & Kafka
#  * Aether Kafka Producer
#  * Aether Integration Tests
# ------------------------------------------------------------------------------

version: "2.1"

services:

  # ---------------------------------
  # Database containers
  # ---------------------------------

  db-test:
    extends:
      file: ./docker-compose-base.yml
      service: postgres-base

  couchdb-test:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-base

  redis-test:
    extends:
      file: ./docker-compose-base.yml
      service: redis-base

  minio-test:
    extends:
      file: ./docker-compose-base.yml
      service: minio-base
    volumes:
      # volumes in tests
      - ./tmp/test/media:/data
    command: minio server --quiet --address minio-test:9000 /data


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel-test:
    extends:
      file: ./docker-compose-base.yml
      service: kernel-base
    environment:
      APP_URL: /
      BUCKET_NAME: test-kernel
      # use a different database when testing the integration with another container
      DB_NAME: ${TEST_KERNEL_DB_NAME:-test-kernel}
      MINIO_STORAGE_ENDPOINT: minio-test:9000
      MINIO_STORAGE_MEDIA_URL: http://minio-test:9000/test-kernel
      MULTITENANCY: "true"
      PGHOST: db-test
      STATIC_URL: /static/
      TEST_PARALLEL: ${TEST_PARALLEL}
      TESTING: "true"
      WEB_SERVER_PORT: 9100
    volumes:
      # volumes in tests
      - ./tmp/test/kernel/static:/var/www/static
      - ./tmp/test/kernel/tmp:/tmp
    ports:
      - 9100:9100
    command: start_test


  # ---------------------------------
  # Aether Kernel Client
  # ---------------------------------

  client-test:
    extends:
      file: ./aether-client-library/docker-compose.yml
      service: client
    environment:
      KERNEL_URL: http://kernel-test:9100
      KERNEL_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
    command: test


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk-test:
    extends:
      file: ./docker-compose-base.yml
      service: odk-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9100
      APP_URL: /
      BUCKET_NAME: test-odk
      DB_NAME: test-odk
      MINIO_STORAGE_ENDPOINT: minio-test:9000
      MINIO_STORAGE_MEDIA_URL: http://minio-test:9000/test-odk
      MULTITENANCY: "true"
      PGHOST: db-test
      STATIC_URL: /static/
      TEST_PARALLEL: ${TEST_PARALLEL}
      TESTING: "true"
      WEB_SERVER_PORT: 9102
    volumes:
      # volumes in tests
      - ./tmp/test/odk/static:/var/www/static
    ports:
      - 9102:9102
    command: test


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync-test:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-sync-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9100
      APP_URL: /
      COUCHDB_URL: http://couchdb-test:5984
      DB_NAME: test-couchdb-sync
      GOOGLE_CLIENT_ID: secret_google_client_id
      MULTITENANCY: "true"
      PGHOST: db-test
      REDIS_HOST: redis-test
      STATIC_URL: /static/
      TEST_PARALLEL: ${TEST_PARALLEL}
      TESTING: "true"
      WEB_SERVER_PORT: 9106
    ports:
      - 9106:9106
    command: test


  # ---------------------------------
  # Aether UI
  # ---------------------------------

  ui-test:
    extends:
      file: ./docker-compose-base.yml
      service: ui-base
    environment:
      AETHER_KERNEL_URL: http://kernel-test:9100
      APP_URL: /
      DB_NAME: test-ui
      MULTITENANCY: "true"
      PGHOST: db-test
      STATIC_URL: /static/
      TEST_PARALLEL: ${TEST_PARALLEL}
      TESTING: "true"
      WEB_SERVER_PORT: 9104
    ports:
      - 9104:9104
    command: test

  ui-assets-test:
    extends:
      file: docker-compose-base.yml
      service: ui-assets-base


  # ---------------------------------
  # Kafka & Zookeeper
  # ---------------------------------

  zookeeper-test:
    extends:
      file: ./docker-compose-base.yml
      service: zookeeper-base

  kafka-test:
    extends:
      file: ./docker-compose-base.yml
      service: kafka-base
    links:
      - zookeeper-test
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper-test:32181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-test:29092
      ADVERTISED_HOST_NAME: kafka-test


  # ---------------------------------
  # Aether Kafka Producer
  # ---------------------------------

  producer-test:
    extends:
      file: ./docker-compose-base.yml
      service: aether-producer-base
    environment:
      # These variables will override the ones indicated in the settings file
      PRODUCER_SETTINGS_FILE: /code/tests/conf/producer.json
      PRODUCER_ADMIN_USER: ${PRODUCER_ADMIN_USER}
      PRODUCER_ADMIN_PW: ${PRODUCER_ADMIN_PW}
      KAFKA_URL: kafka-test:29092
      KERNEL_URL: http://kernel-test:9100
      POSTGRES_DBNAME: ${TEST_KERNEL_DB_NAME:-test-kernel}
      POSTGRES_HOST: db-test
      SERVER_PORT: 9005
      OFFSET_DB_HOST: db-test
      OFFSET_DB_USER: postgres
      OFFSET_DB_PORT: 5432
      OFFSET_DB_PASSWORD: ${KERNEL_DB_PASSWORD}
      OFFSET_DB_NAME: producer_offset_db_test
    ports:
      - 9005:9005
    volumes:
      - ./aether-producer/tests:/code/tests
    command: start


  # ---------------------------------
  # Aether Integration Tests
  # ---------------------------------

  integration-test:
    image: aether-integration-test
    build: ./test-aether-integration-module
    environment:
      PRODUCER_URL: http://producer-test:9005
      KERNEL_URL: http://kernel-test:9100
      KERNEL_USERNAME: ${KERNEL_ADMIN_USERNAME}
      KERNEL_PASSWORD: ${KERNEL_ADMIN_PASSWORD}
      PRODUCER_ADMIN_USER: ${PRODUCER_ADMIN_USER}
      PRODUCER_ADMIN_PW: ${PRODUCER_ADMIN_PW}
    volumes:
      - ./test-aether-integration-module:/code
    command: test
