version: "2"

services:
    db:
        image: postgres:9.5.2

    couchdb:
        image: couchdb:1.6
        environment:
            COUCHDB_USER: admin
            COUCHDB_PASSWORD: secret
        volumes:
            # enable cors for mobile app in-browser development:
            - ./gather2-couchdb-sync/couchdb/conf/config.ini:/usr/local/etc/couchdb/local.ini
        ports:
            - "5984:5984"

    redis:
        image: redis:3.2-alpine


    # ---------------------------------
    # Gather2 Core container
    # ---------------------------------

    core:
        build: gather2-core
        image: core
        environment:
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .gather2.local
            DEBUG: "true"
            HOSTNAME: core.gather2.local

            RDS_DB_NAME: gather2
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8000
        volumes:
            - ./gather2-core:/code
        depends_on:
            - db
        ports:
            - "8000:8000"
        command: start_dev


    # ---------------------------------
    # ODK Adapter container
    # ---------------------------------

    odk-importer:
        build: gather2-odk-importer
        image: odk-importer
        environment:
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .gather2.local
            DEBUG: "true"
            HOSTNAME: odk.gather2.local

            GATHER_CORE_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            GATHER_CORE_URL: http://core:8000
            GATHER_CORE_URL_TEST: http://core-test:9000

            RDS_DB_NAME: odk_importer
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8443
        volumes:
            - ./gather2-odk-importer:/code
        depends_on:
            - core
            - db
        ports:
            - "8443:8443"
        command: start_dev


    # ---------------------------------
    # Mobile Sync containers
    # ---------------------------------

    couchdb-sync:
        build: gather2-couchdb-sync
        image: couchdb-sync
        environment: &sync-environment
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .gather2.local
            DEBUG: "true"
            HOSTNAME: sync.gather2.local

            COUCHDB_PASSWORD: secret
            COUCHDB_URL: http://couchdb:5984
            COUCHDB_USER: admin

            GATHER_CORE_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            GATHER_CORE_URL: http://core:8000
            GATHER_CORE_URL_TEST: http://core-test:9000

            GOOGLE_CLIENT_ID: "${GOOGLE_CLIENT_ID}"

            RDS_DB_NAME: couchdb_sync
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            REDIS_DB: 0
            REDIS_HOST: redis
            REDIS_PASSWORD: ""
            REDIS_PORT: 6379

            WEB_SERVER_PORT: 8666
        volumes: &sync-volumes
            - ./gather2-couchdb-sync:/code
        depends_on: &sync-dependencies
            - core
            - couchdb
            - db
            - redis
        ports:
            - "8666:8666"
        command: start_dev

    couchdb-sync-rq:
        image: couchdb-sync
        environment: *sync-environment
        volumes: *sync-volumes
        depends_on: *sync-dependencies
        command: start_rq


    # ---------------------------------
    # UI containers
    # ---------------------------------

    ui:
        build: gather2-ui
        image: ui
        environment: &ui-environment
            CAS_SERVER_URL: https://ums-dev.ehealthafrica.org
            CSRF_COOKIE_DOMAIN: .gather2.local
            DEBUG: "true"
            HOSTNAME: ui.gather2.local
            STATIC_ROOT: /code/gather2/ui/assets/bundles

            GATHER_ORG_NAME: eHealth Africa (Dev mode)

            GATHER_CORE_TOKEN: a2d6bc20ad16ec8e715f2f42f54eb00cbbea2d24
            GATHER_CORE_URL: http://core:8000
            GATHER_CORE_URL_TEST: http://core-test:9000

            GATHER_MODULES: "odk-importer"

            GATHER_ODK_TOKEN: d5184a044bb5acff89a76ec4e67d0fcddd5cd3a1
            GATHER_ODK_URL: http://odk-importer:8443
            GATHER_ODK_URL_TEST: http://odk-importer-test:9443

            RDS_DB_NAME: ui
            RDS_HOSTNAME: db
            RDS_PASSWORD: ""
            RDS_PORT: 5432
            RDS_USERNAME: postgres

            WEB_SERVER_PORT: 8080
        volumes: &ui-volumes
            #################################################
            #                    WARNING                    #
            # do not include the root folder as volume or   #
            # `node_modules` folder will not be available   #
            #                                               #
            # - ./gather2-ui:/code # DO NOT UNCOMMENT!!!    #
            #################################################

            - ./gather2-ui/conf:/code/conf
            - ./gather2-ui/gather2:/code/gather2

            - ./gather2-ui/entrypoint.sh:/code/entrypoint.sh
            - ./gather2-ui/manage.py:/code/manage.py
            - ./gather2-ui/package.json:/code/package.json
        depends_on:
            - core
            - db
            - odk-importer
            - webpack
        ports:
            - "8080:8080"
        command: start_dev

    webpack:
        image: ui
        environment: *ui-environment
        volumes: *ui-volumes
        ports:
            - "3000:3000"
        command: start_webpack
