# ------------------------------------------------------------------------------
# Aether Common module setup
# ------------------------------------------------------------------------------

version: "2.1"

services:

  common:
    build: aether-common-module
    environment:
      TESTING: "true"
    volumes:
      - ./aether-common-module:/code
    command: build
  # ---------------------------------
