# ------------------------------------------------------------------------------
# Config file for these containers:
#
#  * Databases + NGINX containers
#  * Aether Kernel
#  * ODK Module
#  * CouchDB Sync Module
#  * Aether UI & UI Assets
# ------------------------------------------------------------------------------

version: "2.1"

networks:
  # docker network create aether_internal
  internal:
    external:
      # if this isn't explicitly set it inherits from the containing folder name (aether or not)
      name: aether_internal

volumes:
  # docker volume create aether_database_data
  database_data:
    external:
      name: aether_database_data


services:

  # ---------------------------------
  # Database containers
  # ---------------------------------

  db:
    extends:
      file: ./docker-compose-base.yml
      service: postgres-base
    volumes:
      - database_data:/var/lib/postgresql/data
    networks:
      - internal

  couchdb:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-base
    networks:
      - internal

  redis:
    extends:
      file: ./docker-compose-base.yml
      service: redis-base
    networks:
      - internal


  # ---------------------------------
  # Aether Kernel
  # ---------------------------------

  kernel:
    extends:
      file: ./docker-compose-base.yml
      service: kernel-base
    depends_on:
      db:
        condition: service_healthy
    networks:
      internal:
        aliases:
          - kernel.aether.local


  # ---------------------------------
  # Aether UI
  # ---------------------------------

  ui-assets:
    extends:
      file: ./docker-compose-base.yml
      service: ui-assets-base
    networks:
      - internal

  ui:
    extends:
      file: ./docker-compose-base.yml
      service: ui-base
    depends_on:
      db:
        condition: service_healthy
    networks:
      internal:
        aliases:
          - ui.aether.local


  # ---------------------------------
  # ODK module
  # ---------------------------------

  odk:
    extends:
      file: ./docker-compose-base.yml
      service: odk-base
    depends_on:
      db:
        condition: service_healthy
    networks:
      internal:
        aliases:
          - odk.aether.local


  # ---------------------------------
  # CouchDB Sync module
  # ---------------------------------

  couchdb-sync:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-sync-base
    depends_on:
      db:
        condition: service_healthy
      couchdb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      internal:
        aliases:
          - sync.aether.local

  couchdb-sync-rq:
    extends:
      file: ./docker-compose-base.yml
      service: couchdb-sync-rq-base
    depends_on:
      db:
        condition: service_healthy
      couchdb:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - internal


  # ---------------------------------
  # NGINX container
  # ---------------------------------

  nginx:
    extends:
      file: ./docker-compose-base.yml
      service: nginx-base
    depends_on:
      kernel:
        condition: service_healthy
      odk:
        condition: service_healthy
      couchdb-sync:
        condition: service_healthy
      ui:
        condition: service_healthy
    networks:
      - internal
