#################################################################################
#                                                                               #
#                             Primary requirements                              #
#                                                                               #
#                                 CHANGE ME !!!                                 #
#                                                                               #
# Update me and then run                                                        #
#                                                                               #
# docker-compose -f docker-compose-build-aether-utils.yml run client pip_freeze #
#                                                                               #
#################################################################################

# main libraries
requests


# test libraries
coverage
flake8
