################################################################################
#                                                                              #
#                           Requirements for testing                           #
#    (If you need production dependencies, add them to the `setup.py` file)    #
#                                                                              #
################################################################################

bravado
flake8==3.6.0
flake8-quotes==1.0.0
pytest
pytest-runner
requests
