################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

coverage
django-cors-headers
django==1.11.9
djangorestframework
djangorestframework-csv
flake8
flake8-quotes
mock
psycopg2
requests
