################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

django<2
django-cors-headers
djangorestframework
djangorestframework-csv
psycopg2-binary
requests

# test libraries
coverage
flake8
flake8-quotes
mock
