################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

django<2
django-cors-headers
django-storages
djangorestframework
djangorestframework-csv
psycopg2-binary
requests
boto3

# test libraries
coverage
flake8
flake8-quotes
mock
