
#!/bin/bash
set -e

# Production specific functions

setup_user() {
  # arguments: -u=admin -p=secretsecret -e=admin@gather2.org -t=01234656789abcdefghij
  ./manage.py setup_admin -p=$ADMIN_PASSWORD -t=$GATHER_ODK_TOKEN
}

# run them
setup_user
