################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run core pip_freeze'                  #
#                                                                              #
################################################################################

coverage
django
django-cas-ng
django-cors-headers
django-debug-toolbar
django-filter
django-reversion-compare
django-ums-client
djangorestframework
djangorestframework-filters
drf-extensions
flake8
jsonschema
mock
psycopg2
pygments
raven
requests
uwsgi

# this is used for pulling down secrets from S3
awscli

# Gather2 common module
gather2.common
