################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run core pip_freeze'                  #
#                                                                              #
################################################################################

coverage
django
django-attachments
django-cas-ng
django-cors-headers
django-extensions
django-filter
django-reversion-compare
django-ums-client
djangorestframework
djangorestframework-filters
drf-extensions
flake8
hypothesis[django]
ipdb
jsonschema
markdown
mock
psycopg2
raven
requests
uwsgi
