<div class="footer">
  <div class="social-links">
    <div class="email"><a href="mailto:solutions@ehealthafrica.org" target="_blank">solutions@ehealthafrica.org</a></div>
    <div class="facebook"><a href="https://www.facebook.com/EHealthAfrica" target="_blank"></a></div>
    <div class="twitter"><a href="https://twitter.com/eHealth_africa" target="_blank"></a></div>
    <div class="instagram"><a href="https://www.instagram.com/ehealthafrica/" target="_blank"></a></div>
    <div class="linkedin"><a href="https://www.linkedin.com/company/ehealth-&-information-systems-nigeria/" target="_blank"></a></div>
    <div class="youtube"><a href="https://www.youtube.com/channel/UCcgM_HhTcg5M9Ji3Of6QmUg" target="_blank"></a></div>
  </div>
  <a class="footer__logo" href="http://ehealthafrica.org" target="_blank">eHealth Africa</a>
</div>