<nav class="navbar" role="navigation">
  <a class="logo" href="{{ page.home-link | relative_url }}">Aether</a>
  <ul class="nav navbar__nav">
    <li class="nav-item__about"><a href="{{ page.home-link | relative_url }}">About Aether</a></li>
    <li class="nav-item__support"><a href="{{ '/documentation/introduction/index.html' | relative_url }}">Docs</a></li>
    <li class="nav-item__community"><a href="{{ '/community.html' | relative_url }}">Community</a></li>
    <li class="nav-item__contact"><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    <li class="navbar-button"><a class="btn" href="{{ '/documentation/try/' | relative_url }}">Get started</a></a></li>
  </ul>
</nav>