<nav class="navbar" role="navigation">
  <a class="logo" href="{{ page.home-link | relative_url }}">Aether</a>
  <ul class="nav navbar__nav">
    <li class="nav-item__about"><a href="{{ page.home-link | relative_url }}">About Aether</a></li>
    <li class="nav-item__support"><a href="{{ '/support.html' | relative_url }}">Support</a></li>
    <li class="nav-item__contact"><a href="{{ '/contact.html' | relative_url }}">Contact</a></li>
    <li class="navbar-button"><a class="btn" href="{{ '/demo.html' | relative_url }}">Watch demos</a></li>
  </ul>
</nav>