################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run couchdb-sync pip_freeze'          #
#                                                                              #
################################################################################

coverage
django
django-cas-ng
django-cors-headers
django-extensions
django-rq
django-ums-client
djangorestframework
flake8
mock
oauth2client
psycopg2
redis
requests
rq
rq-scheduler
uwsgi
raven
