################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps ui eval pip list --outdated                 #
#                                                                              #
# Update me and then run                                                       #
#     docker-compose run --no-deps ui pip_freeze                               #
#                                                                              #
################################################################################


# Main libraries

# Aether common and Django-eHa-SDK library with extras
aether.common
django_eha_sdk[cas,server,webpack,test]


# Django specific
django-model-utils
