################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run ui pip_freeze'                    #
#                                                                              #
################################################################################


# Main libraries
# Aether common module, will also install:
#   django                   < 2
#   djangorestframework     >= 3.8   < 4
#   djangorestframework-csv >= 2.0.0 < 3
#   django-cors-headers     >= 2.0.0 < 3
aether.common


django-model-utils
drf-dynamic-fields
psycopg2-binary
requests
uwsgi


# UMS libraries
django-cas-ng
django-ums-client


# Development
django-debug-toolbar
django-webpack-loader


# Server side
raven    # Sentry


# Test libraries
coverage
flake8
flake8-quotes
mock
