################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run ui pip_freeze'                    #
#                                                                              #
################################################################################


# Main libraries

# Aether common module, will also require:
#   django < 2
#   django-cors-headers
#   django-debug-toolbar
#   djangorestframework
#   djangorestframework-csv
#   psycopg2-binary
#   requests
aether.common
django-storages
boto3


# Django specific
django-model-utils
django-webpack-loader
drf-dynamic-fields


# UMS libraries
django-cas-ng
django-ums-client


# Server side
raven                  # Sentry
uwsgi                  # Server behind NGINX


# Test libraries
coverage
flake8
flake8-quotes
mock
