################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker-compose run --rm --no-deps ui eval pip list --outdated
#
# To update this first update "primary-requirements.txt" then run
#     docker-compose run --rm --no-deps ui pip_freeze
#
################################################################################

aether.sdk==1.1.1
autopep8==1.4.4
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.3
Django==2.2.3
django-cas-ng==3.6.0
django-cors-headers==3.0.2
django-debug-toolbar==2.0
django-model-utils==3.2.0
django-prometheus==1.0.15
django-silk==3.0.2
django-uwsgi==0.2.2
django-webpack-loader==0.6.0
djangorestframework==3.9.4
drf-dynamic-fields==0.3.1
entrypoints==0.3
flake8==3.7.7
flake8-quotes==2.0.1
gprof2dot==2017.9.19
idna==2.8
Jinja2==2.10.1
lxml==4.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
prometheus-client==0.7.1
psycopg2-binary==2.8.3
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
python-cas==1.4.0
python-dateutil==2.8.0
python-json-logger==0.1.11
pytz==2019.1
requests==2.22.0
sentry-sdk==0.9.5
six==1.12.0
sqlparse==0.3.0
tblib==1.4.0
urllib3==1.25.3
uWSGI==2.0.18
