################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps ui eval pip list --outdated                 #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --no-deps ui pip_freeze                               #
#                                                                              #
################################################################################

aether.common>=0
certifi==2018.11.29
chardet==3.0.4
coverage==4.5.2
Django==1.11.20
django-cas-ng==3.5.10
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-model-utils==3.1.2
django-prometheus==1.0.15
django-ums-client==0.2.6
django-webpack-loader==0.6.0
djangorestframework==3.9.1
drf-dynamic-fields==0.3.0
entrypoints==0.3
flake8==3.7.6
flake8-quotes==1.0.0
idna==2.8
lxml==4.3.1
mccabe==0.6.1
mock==2.0.0
pbr==5.1.2
prometheus-client==0.6.0
psycopg2-binary==2.7.7
pycodestyle==2.5.0
pyflakes==2.1.0
Pygments==2.3.1
python-cas==1.4.0
python-json-logger==0.1.10
pytz==2018.9
requests==2.21.0
sentry-sdk==0.7.3
six==1.12.0
sqlparse==0.2.4
urllib3==1.24.1
uWSGI==2.0.18
