################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

bravado
jsonschema[format]<4
requests[security]
requests_oauthlib

# Test libraries
flake8<6
flake8-quotes
pytest
pytest-runner

# Wheel build
build
