################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

bravado
bravado-core<=5.12.1  # breaks the the custom patches.py file
requests
requests_oauthlib

# Test libraries
flake8
pytest
pytest-runner
