################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run                                                       #
#       'docker-compose -f docker-compose-test.yml run common pip_freeze'      #
#                                                                              #
################################################################################

coverage
django
djangorestframework
flake8
mock
psycopg2
requests
