#########################################################################################
#                                                                                       #
#                             Primary requirements                                      #
#                                                                                       #
#                                 CHANGE ME !!!                                         #
#                                                                                       #
# Update me and then run 'docker-compose run consumer-sdk{-py2 / -py3}-test pip_freeze' #
#                                                                                       #
#########################################################################################

flake8
jsonpath_ng
kafka
mock
pytest
pytest-runner
spavro
