#########################################################################################
#                                                                                       #
#                              Frozen requirements                                      #
#                                                                                       #
#                               DO NOT CHANGE !!!                                       #
#                                                                                       #
# To update this first update 'primary-requirements.txt'                                #
# then run 'docker-compose run consumer-sdk{-py2 / -py3}-test pip_freeze'               #
#                                                                                       #
#########################################################################################
