[run]
branch = true
source =
    /code/aether
omit = *migrations*, *tests*, *test* *__init__*, *test.py

[paths]
source =
    /code/aether
omit = *migrations*, *tests* *__init__*, *test.py

[report]
omit = *migrations*, *tests*, *wsgi.py, *__init__*, *test.py
show_missing = true
fail_under = 1
