################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run odk-importer pip_freeze'          #
#                                                                              #
################################################################################

coverage
defusedxml
django
django-cas-ng
django-cors-headers
django-extensions
django-ums-client
djangorestframework
flake8
geojson
ipdb
lxml
mock
psycopg2
python-dateutil
pytz
pyxform
raven
requests
uwsgi
xmltodict
