[run]
branch = true
source = /code/gather2
omit = *migrations*, *tests*

[paths]
source = /code/gather2
omit = *migrations*, *tests*

[report]
omit = *migrations*, *tests*, *wsgi.py
show_missing = true
fail_under = 100
