#############################################################
#                                                           #
#                    Frozen requirements                    #
#                                                           #
#                     DO NOT CHANGE !!!                     #
#                                                           #
# To update this first update 'primary-requirements.txt'    #
# then run './entrypoint.sh pip_freeze'                     #
#                                                           #
#############################################################

