################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run                                                       #
#  'docker-compose -f docker-compose-test.yml run common-test pip_freeze'      #
#                                                                              #
################################################################################

coverage
django==1.11.7
djangorestframework
djangorestframework-csv
flake8
mock
requests
