################################################################################
#                                                                              #
#                     Requirements to test with Django 1.x                     #
#                                                                              #
################################################################################

coverage
django-cors-headers
django<2
djangorestframework
djangorestframework-csv
flake8
flake8-quotes
mock
psycopg2
requests
