.filter-toggles {
  margin-left: auto;
  font-family: $nav-font-family;
  font-size: $font-size-s;
  font-weight: 500;

  .btn {
    margin: 0 .7rem;
    background: rgba($white, .3);
    font-weight: 500;

    &.selected {
      background: $white;
      color: $action-color;
    }

    &.active {
      background: rgba($text-color, .5);
      box-shadow: 1px 1px 2px $text-color inset;
      color: $white;
    }
  }

  .btn:last-child {
    margin-right: 0;
  }
}

.filter-container {
  background: $white;
  box-shadow: 0 3px 5px $dark-grey;
  position: absolute;
  width: 100%;
  left: 0;
  top: 120%;
  transition: all .4s;
  opacity: 0;

  &.active {
    opacity: 1;
    top: 100%;

    &::before {
      content: '';
      display: block;
      width: 16px;
      height: 16px;
      background: $white;
      transform: rotate(45deg);
      position: absolute;
      right: calc(5vw + 4rem);
      top: -8px;
    }
  }
}

.columns-filter {

  position: relative;
  max-height: calc(100vh - #{$toolbar-height-mobile});
  overflow: auto;

  ul {
    display: block;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
    -moz-column-gap: 2rem; /* Firefox */
    column-gap: 2rem;
    -webkit-column-width: 25rem; /* Chrome, Safari, Opera */
    -moz-column-width: 25rem; /* Firefox */
    column-width: 25rem;

    padding: 1rem 5vw;
    counter-reset: item;
  }

  .column-title {
    list-style: none;
    padding: .3rem;
    font-style: italic;
    font-size: $font-size-s;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

    i {
      color: $action-color;
      font-size: 1.4em;
    }

    span::before {
      counter-increment: item;
      content: counter(item) '. ';
    }
  }

  .btn {
    margin: 0 1rem 1rem 0;
  }
}
