.help-container {
  border: 0;
  border-left: .3rem solid $action-color;
  border-radius: 0;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  padding: 1.25rem;
  line-height: 1.4em;
  font-style: italic;
}
