@keyframes slide-up {
  0% {top: 100vh}
  100% {top: 10px}
}

$column-width: 25%;

$input-nav-width: 90px;
$entityTypes-nav-width: 170px;
$mapping-nav-width: 140px;
$output-nav-width: 100px;

.pipeline {
  background: $white;
  box-shadow: 0 -1px 3px rgba($text-color, .3);
  position: fixed;
  top: 10px;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
  transition: top .2s;
  animation: slide-up .6s;
}

.pipeline-nav {
  display: flex;
  position: absolute;
  width: 100vw;
  align-items: baseline;
  justify-content: space-between;
}

div[class^="pipeline-nav-item__"] {
  @include label;
  color: $action-color;
  padding: .6rem;
  transition: all 1s;

  .badge {
    color: $white;
    font-weight: 600;
    background: $grey;
    width: 1.8rem;
    height: 1.8rem;
    padding: .4rem 0;
    opacity: .4;
    margin: 0 .8rem 0 0;
  }
}

div.pipeline-nav-item__input {
  width: $input-nav-width;
}

div.pipeline-nav-item__entityTypes {
  width: $entityTypes-nav-width;
}

div.pipeline-nav-item__mapping {
  width: $mapping-nav-width;
}

div.pipeline-nav-item__output {

  text-align: right;
  padding-right: 2rem;
  width: $output-nav-width;

  .output-toggle {
    width: 0; 
    height: 0; 
    border-top: .4rem solid transparent;
    border-bottom: .4rem solid transparent;
    border-left: .6rem solid $action-color;

    position: absolute;
    top: 1.1rem;
    right: .6rem;
  }
}

.pipeline-sections {
  color: $text-color;
  display: flex;
}

div[class^="pipeline-section__"] {
  width: 0;
  border-left: 1px solid $purple;
  padding-top: 3rem;
  transition: all 1s;
}

// STATES

// INPUT

.pipeline--input {

  div.pipeline-nav-item__input {
    width: calc(100% - (#{$entityTypes-nav-width} + #{$mapping-nav-width} + #{$output-nav-width}));
  }

  div.pipeline-section__input {
    width: 100%;
  }
}

// ENTITY TYPES

.pipeline--entityTypes {

  div.pipeline-nav-item__input {
    width: $column-width;
  }

  div.pipeline-section__input {
    width: $column-width;
  }

  div.pipeline-nav-item__entityTypes {
    width: calc(100% - #{$column-width} - (#{$mapping-nav-width} + #{$output-nav-width}));
  }

  div.pipeline-section__entityTypes {
    width: calc(100% - #{$column-width});
  }
}

// MAPPING

.pipeline--mapping {

  div.pipeline-nav-item__input {
    width: $column-width;
  }

  div.pipeline-section__input {
    width: $column-width;
  }

  div.pipeline-nav-item__entityTypes {
    width: $column-width;
  }

  div.pipeline-section__entityTypes {
    width: $column-width;
  }

  div.pipeline-nav-item__mapping {
    width: calc(100% - #{$column-width}*2 - #{$output-nav-width});
  }

  div.pipeline-section_mapping {
    width: calc(100% - #{$column-width}*2);
  }
}