.pipeline-output {
  background: $text-color;
  color: $white;
  box-shadow: -1px 0 0 rgba($black, .2), 1px 0 1px rgba($white, .3) inset;
  border-left: 1px solid rgba($black, .5);

  .section-body {
    min-width: $output-width;
    padding: 1.2rem;
  }

  .pipeline-errors {
    code {
      color: $red;
    }
    li {
      color: $red;
      list-style: disc;
    }
  }

  .pipeline-success {
    li {
      color: $green;
      list-style: disc;
    }
  }

  .pipeline-data {
    margin-top: 2rem;
  }
}
