.pipeline-output {
  background: $text-color;
  color: $white;
  box-shadow: -1px 0 0 rgba($black, .2), 1px 0 1px rgba($white, .3) inset;
  border-left: 1px solid rgba($black, .5);

  .section-body {
    min-width: $output-width;
    padding: 1.2rem;
  }

  .pipeline-errors {
    ul {
      color: $red;
    }
    .error-description {
      margin-right: 7px;
    }

    .error-path {
      font-style: italic
    }
  }

  .pipeline-data,
  .pipeline-errors {
    margin-top: 2rem;
  }
}
