// ************************************
// Colors
// ************************************

$white: #fff;
$mint-green: #64e1ac;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;

$red: #e87979;
$orange: #e8a835;
$green: #5cb85c;

$text-color: #4a4a4a;
$background-color: #f4f7f9;

$grey: #b2becb;
$dark-grey: #979797;
$darker-grey: #4a4a4a;
$light-grey: #c8c6c9;
$lighter-grey: #eaeaea;
$bg-grey: #f6fafa;

$shadow-color: rgba($text-color, .2);

$action-color: #5eb1f2;
$hover-color: #49b1cf;
$edit-color: #02d0ac;

// ************************************
// Fonts
// ************************************

$body-font-family: 'Asap', Arial, sans-serif;
$nav-font-family: 'Quicksand', sans-serif;
$icon-font: FontAwesome;

$font-size-xs: .8rem;
$font-size-s: .94rem;
$font-size-standard: 1rem;
$font-size-m: 1.125rem;
$font-size-l: 1.75rem;
$font-size-xl: 2.4rem;
$font-size-xxl: 3rem;

// ************************************
// Sizes
// ************************************

$padding-unit: 4rem;
$border-radius: .25rem;

$navbar-height: 2.9rem;

$toolbar-height: 70px;
$toolbar-height-mobile: 90px;
