<!DOCTYPE html>
<html>
  <head>

<meta charset="utf-8">

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<meta name="robots" content="NONE,NOARCHIVE" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description"
  content="A free, open source development platform for data curation, exchange, and publication">
<meta name="author" content="eHealth Africa">
<meta name="version" content="1.2.0">
<meta name="revision" content="7adacea39747574895af16dd68e6a3869093fb7d">
  <link rel="shortcut icon" href="/auth/static/aether/images/aether.png"/>
      <title>Aether</title>
  <link rel="stylesheet" type="text/css" href="/auth/static/aether/css/styles.css"/>
  <link rel="stylesheet" type="text/css" href="/auth/static/aether/css/authentication.css"/>
  </head>
<body class="container">
  <div class="container-fluid" style="margin-top: 30px">
    <div class="row-fluid">
      <div class="well" style="width: 320px; margin-left: auto; margin-right: auto">
        <div class="row-fluid">
          <div>
<a class="brand" title="Aether" href="#">
  <div class="logo-container">
    <div class="flipper">
      <div class="front"></div>
      <div class="back"></div>
    </div>
  </div>
  <span data-app-name="app-name"><b>ae</b>ther</span>
  
</a>
          </div>
        </div><!-- /row fluid -->
        <div class="row-fluid">
          <div>
            <form action="/auth/" role="form" method="get">
              <div id="div_id_username" class="clearfix control-group ">
                <div class="form-group">
                  <label for="id_username">Realm Name:</label>
                  <input type="text" name="realm" maxlength="100"
                      autocapitalize="off"
                      autocorrect="off" class="form-control textinput textInput"
                      id="id_realm" required autofocus
                      >
                </div>
              </div>
              <div class="form-actions-no-box">
                <input type="submit" name="submit" value="Log in" class="btn btn-primary form-control" id="submit-id-submit">
              </div>
            </form>
          </div>
        </div><!-- /.row-fluid -->
      </div><!--/.well-->
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</body>

</html>
