################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run kernel pip_freeze'                #
#                                                                              #
################################################################################

django==1.11.9
django-cas-ng
django-cors-headers
django-debug-toolbar
django-filter
django-reversion-compare
django-ums-client
django-model-utils
djangorestframework
djangorestframework-filters
drf-dynamic-fields
drf-openapi
jsonschema
mock
psycopg2
pygments
python-dateutil
raven
requests
uwsgi
jsonpath_ng

# Aether common module
aether.common

# test libraries
coverage
flake8
flake8-quotes
