################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run kernel pip_freeze'                #
#                                                                              #
################################################################################


# Main libraries

# Aether common module, will also require:
#   django < 2
#   django-cors-headers
#   django-storages
#   django-debug-toolbar
#   django-prometheus
#   djangorestframework
#   djangorestframework-csv
#   psycopg2-binary
#   requests
aether.common


# Django specific
django-filter<2  # https://django-filter.readthedocs.io/en/master/guide/migration.html#migrating-to-2-0
django-model-utils
django-reversion-compare
djangorestframework-filters
drf-dynamic-fields
drf-openapi
pygments
python-dateutil


# AVRO + JSON libraries
jsonpath_ng
jsonschema
spavro


# UMS libraries
django-cas-ng
django-ums-client


# Server side
raven                  # Sentry
uwsgi                  # Server behind NGINX


# Test libraries
coverage
django-autofixture
flake8
flake8-quotes
mock
