################################################################################
#
#                             Primary requirements
#
#                                 CHANGE ME !!!
#
# To check the outdated dependencies run
#     docker-compose run --rm --no-deps kernel eval pip list --outdated
#
# Update me and then run
#     docker-compose run --rm --no-deps kernel pip_freeze
#
################################################################################


# Main libraries

# Aether Django SDK library with extras
aether.sdk[cas,server,storage,test]


# Django specific
django-filter
django-model-utils
drf-yasg
python-dateutil

# Breaking change related to "drf-yasg" dependency
# https://www.django-rest-framework.org/community/release-notes/#3100
djangorestframework<3.10.0


# AVRO + JSON libraries
eha_jsonpath
jsonschema
spavro


# XLSX libraries
openpyxl
lxml


# Test libraries
django-autofixture
