################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps kernel eval pip list --outdated             #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --no-deps kernel pip_freeze                           #
#                                                                              #
################################################################################

attrs==19.1.0
boto3==1.9.149
botocore==1.12.149
cachetools==3.1.0
certifi==2019.3.9
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.3
decorator==4.4.0
Django==2.2.1
django-autofixture==0.12.1
django-cas-ng==3.6.0
django-cors-headers==3.0.1
django-debug-toolbar==1.11
django-eha-sdk==1.0.4
django-filter==2.1.0
django-minio-storage==0.2.2
django-model-utils==3.1.2
django-prometheus==1.0.15
django-storages==1.7.1
django-uwsgi==0.2.2
djangorestframework==3.9.4
docutils==0.14
drf-dynamic-fields==0.3.1
drf-yasg==1.15.0
entrypoints==0.3
et-xmlfile==1.0.1
flake8==3.7.7
flake8-quotes==2.0.1
google-api-core==1.11.0
google-auth==1.6.3
google-cloud-core==1.0.0
google-cloud-storage==1.15.1
google-resumable-media==0.3.2
googleapis-common-protos==1.5.10
idna==2.8
inflection==0.3.1
itypes==1.1.0
jdcal==1.4.1
Jinja2==2.10.1
jmespath==0.9.4
jsonpath-ng==1.4.3
jsonschema==3.0.1
lxml==4.3.3
MarkupSafe==1.1.1
mccabe==0.6.1
minio==4.0.16
openpyxl==2.6.2
ply==3.11
prometheus-client==0.6.0
protobuf==3.7.1
psycopg2-binary==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.0
pyrsistent==0.15.2
python-cas==1.4.0
python-dateutil==2.8.0
python-json-logger==0.1.11
pytz==2019.1
requests==2.21.0
rsa==4.0
ruamel.yaml==0.15.95
s3transfer==0.2.0
sentry-sdk==0.7.14
six==1.12.0
spavro==1.1.22
sqlparse==0.3.0
tblib==1.4.0
uritemplate==3.0.0
urllib3==1.25.2
uWSGI==2.0.18
