################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps kernel eval pip list --outdated             #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --no-deps kernel pip_freeze                           #
#                                                                              #
################################################################################

aether.common==0.0.0
boto3==1.9.78
botocore==1.12.78
cachetools==3.0.0
certifi==2018.11.29
chardet==3.0.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.2
decorator==4.3.0
Django==1.11.18
django-autofixture==0.12.1
django-cas-ng==3.5.10
django-cors-headers==2.4.0
django-debug-toolbar==1.11
django-filter==2.0.0
django-model-utils==3.1.2
django-prometheus==1.0.15
django-reversion==3.0.2
django-reversion-compare==0.8.6
django-storages==1.7.1
django-ums-client==0.2.6
djangorestframework==3.9.0
docutils==0.14
drf-dynamic-fields==0.3.0
drf-yasg==1.12.1
et-xmlfile==1.0.1
flake8==3.6.0
flake8-quotes==1.0.0
google-api-core==1.7.0
google-auth==1.6.2
google-cloud-core==0.29.1
google-cloud-storage==1.13.2
google-resumable-media==0.3.2
googleapis-common-protos==1.5.6
idna==2.8
inflection==0.3.1
itypes==1.1.0
jdcal==1.4
Jinja2==2.10
jmespath==0.9.3
jsonpath-ng==1.4.3
jsonschema==2.6.0
lxml==4.3.0
MarkupSafe==1.1.0
mccabe==0.6.1
mock==2.0.0
openpyxl==2.5.12
pbr==5.1.1
ply==3.11
prometheus-client==0.5.0
protobuf==3.6.1
psycopg2-binary==2.7.6.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycodestyle==2.4.0
pyflakes==2.0.0
Pygments==2.3.1
python-cas==1.4.0
python-dateutil==2.7.5
pytz==2018.9
raven==6.10.0
requests==2.21.0
rsa==4.0
ruamel.yaml==0.15.85
s3transfer==0.1.13
six==1.12.0
spavro==1.1.20
sqlparse==0.2.4
uritemplate==3.0.0
urllib3==1.24.1
uWSGI==2.0.17.1
