################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps kernel eval pip list --outdated             #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --no-deps kernel pip_freeze                           #
#                                                                              #
################################################################################

