[run]
branch = true
source = /code
omit = *migrations*, *tests*, *management*

[paths]
source = /code
omit = *migrations*, *tests*, *management*

[report]
omit = *migrations*, *tests*, *management*, manage.py, *wsgi.py
show_missing = true
fail_under = 100
