################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker-compose run --rm --no-deps exm eval pip list --outdated
#
# To update this first update 'primary-requirements.txt' then run
#     docker-compose run --rm --no-deps exm pip_freeze
#
################################################################################

aether.python==1.0.4
atomicwrites==1.3.0
attrs==19.1.0
certifi==2019.6.16
chardet==3.0.4
coverage==4.5.4
decorator==4.4.0
Django==2.2.5
eha-jsonpath==0.5.1
entrypoints==0.3
fakeredis==1.0.4
flake8==3.7.8
flake8-quotes==2.1.0
idna==2.8
importlib-metadata==0.20
jsonpath-ng==1.4.3
jsonschema==3.0.2
mccabe==0.6.1
more-itertools==7.2.0
packaging==19.1
pluggy==0.12.0
ply==3.11
py==1.8.0
pycodestyle==2.5.0
pyflakes==2.1.1
pyparsing==2.4.2
pyrsistent==0.15.4
pytest==5.1.2
pytz==2019.2
redis==3.3.8
requests==2.22.0
six==1.12.0
sortedcontainers==2.1.0
spavro==1.1.22
sqlparse==0.3.0
tblib==1.4.0
urllib3==1.25.3
wcwidth==0.1.7
zipp==0.6.0
