################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker-compose run --rm --no-deps exm eval pip list --outdated
#
# To update this first update 'primary-requirements.txt' then run
#     docker-compose run --rm --no-deps exm pip_freeze
#
################################################################################

aether.python==1.2.0
attrs==20.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coverage==5.3
cryptography==3.2
decorator==4.4.2
eha-jsonpath==0.6.0
fakeredis==1.4.3
flake8==3.8.3
flake8-quotes==3.2.0
gevent==20.9.0
greenlet==0.4.17
idna==2.10
iniconfig==1.0.1
jsonpath-ng==1.5.2
jsonschema==3.2.0
mccabe==0.6.1
more-itertools==8.5.0
packaging==20.4
pluggy==0.13.1
ply==3.11
py==1.9.0
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.2.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==6.0.2
redis==3.5.3
requests==2.24.0
six==1.15.0
sortedcontainers==2.2.2
spavro==1.1.23
tblib==1.7.0
toml==0.10.1
urllib3==1.25.10
zope.event==4.5.0
zope.interface==5.1.0
