################################################################################
#                                                                              #
#                           Requirements for testing                           #
#    (If you need production dependencies, add them to the `setup.py` file)    #
#                                                                              #
################################################################################

django
django-cas-ng
django-cors-headers
django-minio-storage
django-prometheus
django-uwsgi
djangorestframework
psycopg2-binary
pygments
pyjwt
python-json-logger
requests


# test libraries
coverage
flake8
flake8-quotes
mock
tblib
