.anchor-nav {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  top: 4rem;
  left: 0;
  width: 100%;
  background: rgba($action-color, .9);
  z-index: 1000;
  padding: .3rem 2rem;
  transition: opacity .5s;

  a {
    color:rgba(white, .7);
    padding: 0 .4rem;
    &:hover {
      color: white;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: auto;
  }
}

@media screen and (max-width: 640px) {

  .anchor-nav {
    top: 3rem;
    padding: .3rem 0;
    text-align: center;
  }
}