* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3em;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
  line-height: 1.3em;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: $action-color;
  &:hover, &:focus {
    color: $action-hover;
  }

  &.white-link {
    color: white;
    text-decoration: underline;
  }
}

li {
  list-style: none;
}

h2, h3, h4 {
  font-weight: 400;
}

h2 {
  font-size: 1.6em;
  padding: $unit 0 $unit/2;
}

h3 {
  font-size: 1.2em;
  padding: $unit/2 0 $unit/2;
}
h4 {
  font-size: 1em;
  padding: $unit/2 0;
}

p {
  padding: $unit/2 0;
}

video {
  background: $action-color;
}

@mixin angle-right($size, $stroke) {
  display: inline-block;
  width: $size*4;
  height: $size*4;
  position: relative;
  background: rgba($font-color, .1);
  box-shadow: 1px 1px 1px rgba(black, .2) inset, 1px 1px 0 rgba(white, .1);
  transition: all 0.5s;
  border-radius: 50%;
  &:before {
    content: "";
    display: block;
    background: white;
    width: $stroke;
    height: $size;
    border-radius: $stroke;
    position: absolute;
    transform: rotate(-45deg);
    left: 50%;
    top: 29%;
  }
  &:after {
    content: "";
    display: block;
    background: white;
    width: $stroke;
    height: $size;
    border-radius: $stroke;
    position: absolute;
    /*top: -11%;*/
    bottom: 29%;
    left: 50%;
    transform: rotate(45deg);
  }

}

@media screen and (min-width: 1600px) {
  body {
    font-size: 16px;
  }
}
