.header {
  min-height: 680px;
  position: relative;
  border-bottom: 1px dotted $light-grey;
  margin: 0 $margin*-1;
}

.header__text {
  margin: 8vH 8vw 0 12.5rem;
  color: white;
}

.header__title {
  font-size: 4em;
  font-weight: 700;
  padding: $unit 0;
  color: white;
}

.header__subtitle {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 300;
  padding: $unit 0 $unit*3;
  color: white;
  width: 60%;
}

.header__action {
  display: flex;
  justify-content: center;
  width: 100%;
  cursor: pointer;
  margin: 4rem 0 1rem;
}

@media screen and (max-width: 1200px) {

  .header__text {
    margin-left: $margin;
  }

  .header {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 900px) {

  .header {
    font-size: 0.7em;
  }
  .header__subtitle {
    width: 80%;
  }
}

@media screen and (min-width: 1600px) {
  .header {
    margin: 0 $margin*-2;
  }
}

@media screen and (min-width: 741px) {

  .header {
    height: calc(100vH - 7rem);
    overflow: hidden;
  }

  .header__action {
    position: absolute;
    bottom: 4rem;
  }
}
