body {
  background: linear-gradient(135deg, $action-bright, $purple);
  position: relative;
    &::before {
    content: '';
    display: block;
    position: fixed;
    bottom: -90vw;
    left: 25vw;
    width: 110vw;
    height: 110vw;
    border-radius: 100%;
    border: 1vw solid rgba(white, .1);
    border-right: 6vw solid rgba(white, .1);
    border-top: 4vw solid rgba(white, .1);
    z-index: 1;
  }

  &::after {
    content: '';
    display: block;
    position: fixed;
    bottom: -30vw;
    left: 60vw;
    width: 70vw;
    height: 70vw;
    border-radius: 100%;
    border: .5vw solid rgba(white, .1);
    border-right: 5vw solid rgba(white, .1);
    border-top: 3vw solid rgba(white, .1);
    z-index: 0;
  }
}

.background {
  width: 100%;
  height: 100%;
  top: 0;
  background: url("../images/home-bg.png") top center no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 2s;
  position: fixed;

  &.hidden {
    opacity: 0;
  }
}

.content {
  height: calc(100vH - 4rem);
  margin-top: 4rem;
  padding: 4rem $margin 0;
  overflow: auto;  
  -webkit-overflow-scrolling: touch;
  position: relative;
  z-index: 1;
}

.container {
  padding: $unit;
}
.margin-top {
  margin-top: $unit*4;
}
.margin-bottom {
  margin-bottom: $unit*4;
}

.grid-row {
  display: flex;
  justify-content: space-between;
  padding-bottom: $unit*2;
  &>div, &>p {
    flex: 1;
    margin-right: 4%;
    &:last-child {
      margin-right: 0;
    }
  }
  .col2 {
    flex:2;
  }

}

.grid2>div{
  &.empty-col1-left {
    margin-left: 52%;
  }
  &.empty-col1-right {
    margin-right: 52%;
  }
}
.grid3>div{
  &.col2 {
    flex:none;
    width: 65.3%;
  }
  &.empty-col1-left {
    margin-left: 34.6%;
  }
  &.empty-col2-left {
    margin-left: 69.2%;
  }
  &.empty-col1-right {
    margin-right: 38.6%;
    &:last-child {
      margin-right: 34.6%;
    }
  }
  &.empty-col2-right {
    margin-right: 69.2%;
  }
}
.grid4>div{
  &.col2 {
    flex:none;
    width: 48%;
  }
  &.col3 {
    flex:none;
    width: 74%;
  }
  &.empty-col1-left {
    margin-left: 26%;
  }
  &.empty-col2-left {
    margin-left: 52%;
  }
  &.empty-col3-left {
    margin-left: 78%;
  }
  &.empty-col1-right {
    margin-right: 30%;
    &:last-child {
      margin-right: 26%;
    }
  }
  &.empty-col2-right {
    margin-right: 56%;
    &:last-child {
      margin-right: 52%;
    }
  }
  &.empty-col3-right {
    margin-right: 78%;
  }
}

@media screen and (min-width: 740px) {
  .grid2>div{
    &.empty-col1-left {
      margin-left: 52%;
    }
    &.empty-col1-right {
      margin-right: 52%;
    }
  }
  .grid3>div{
    &.col2 {
      flex:none;
      width: 65.3%;
    }
    &.empty-col1-left {
      margin-left: 34.6%;
    }
    &.empty-col2-left {
      margin-left: 69.2%;
    }
    &.empty-col1-right {
      margin-right: 38.6%;
      &:last-child {
        margin-right: 34.6%;
      }
    }
    &.empty-col2-right {
      margin-right: 69.2%;
    }
  }
  .grid4>div{
    &.col2 {
      flex:none;
      width: 48%;
    }
    &.col3 {
      flex:none;
      width: 74%;
    }
    &.empty-col1-left {
      margin-left: 26%;
    }
    &.empty-col2-left {
      margin-left: 52%;
    }
    &.empty-col3-left {
      margin-left: 78%;
    }
    &.empty-col1-right {
      margin-right: 30%;
      &:last-child {
        margin-right: 26%;
      }
    }
    &.empty-col2-right {
      margin-right: 56%;
      &:last-child {
        margin-right: 52%;
      }
    }
    &.empty-col3-right {
      margin-right: 78%;
    }
  }
}

@media screen and (max-width: 740px) {
  .grid-row {
    flex-direction: column;
    &>div, &>p {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }
}
@media screen and (min-width: 1600px) {
  .content {
    padding: 4rem $margin*2 0;
  }
}








