.section {
  padding: $unit*5 $margin;
  margin: 0 $margin*-1;
  min-height: calc(70vH);

  &:first-child {
    padding-top: $unit;
  }
}

.section__title {
  display: block;
  font-size: 2.6em;
  font-weight:600;
  margin-bottom: $unit;
  padding: 0;
  position: relative;
}

.section__subtitle {
  font-size: 1.6rem;
  line-height: 1.3em;
  padding: $unit 0;
}

p {
  padding: 0 1rem 1rem 0;
  line-height: 1.4em;
}

.quote {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.3em;
  padding: 0;
  margin: $unit*2 0;
}

.quote-big {
  font-size: 1.8em;
  font-weight: 300;
  line-height: 1.3em;
  padding: 1rem 0;
  &:before {
    content: "» ";
  }
  &:after {
    content: " «";
  }
}

.highlight {
  padding: 0 0 0 1em;
  margin: $unit*2 0 $unit*2 -1em;
  border-left: 2px solid $action-color;
}

.section__action {
  margin-top: $unit*2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: white;
  color: $font-color;
  position: relative;
  margin-top: 1rem;
}

.box-image {
  width: 100%;
  height: 22vw;
  display: flex;
  align-items: center;
  justify-content: space-around;

  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  &.small {
    height: 12vw;
  }
}

.cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center {
  
  img {
    width: 80%;
    height: 80%;
    object-fit: scale-down;
  }
}

.image-bg {
  background: $secondary-color;
}

.image-bg-blue {
  background: $action-color;
}

.box-content {
  padding: $unit $unit*1.6;
  background-color: white;
}

// .box-call-out {
//   padding: $unit;
//   background-color: $secondary-color;
//   font-size: 1rem;
//   text-align: center;
// }

// .big-number {
//   font-weight: bold;
//   font-size: 4em;
//   color: white;
//   display: block;
// }

.box-call-out {
  padding: $unit;
  font-size: 1rem;
  text-align: center;
  border-top: 1px dotted $action-color;
}

.big-number {
  font-weight: 600;
  font-size: 3.6em;
  color: $secondary-color;
  display: block;
}

.section__bg {
  background: $action-color url("../images/features-bg2.jpg") center center no-repeat;
  background-size: cover;
  margin: 0 -$margin;
  margin-top: $unit*-1.5;
  position: relative;
  // z-index: -1; 
  margin-bottom: 0;
  padding: $margin/4 $margin;
  color: white;

  .block__title {
    min-height: 0px;
    &:after {
      display: none;
    }
  }
}


.section.white-bg {
  background: white;
  color: $font-color;
}

.section .block {
  position: relative;
  padding: 0 $margin/5;
  margin: 0;
  margin-top: $unit;
  border-right: 1px dotted rgba(white, 0.5);
}

.block:last-child {
  border: none;
}

.block__title {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 300;
  padding: $unit 0;
  position: relative;
  vertical-align: bottom;
}

.circle-image {
  border-radius: 50%;
  overflow: hidden;
  width: $margin*2.2;
  height: $margin*2.2;
  margin: $unit auto;
  position: relative;
}

.icon-feature1 {
  background: rgba($action-color, 0.3) url("../images/feature1.svg") center center no-repeat;
  background-size: 100%;
}
.icon-feature2 {
  background: rgba($secondary-color, 0.3) url("../images/feature2.svg") center center no-repeat;
  background-size: 100%;
}
.icon-feature3 {
  background: rgba($action-color, 0.3) url("../images/feature3.svg") center center no-repeat;
  background-size: 100%;
}

.benefit {
  font-size: 1.8em;
  line-height: 1.3em;
  font-weight: 300;
  display: flex;
  align-items: center;
  margin: 2rem 1rem 0 0;
  img {
    margin-right: 1rem;
  }
}

.call-out {
  margin-top: 6rem;
  text-align: center;

  .btn {
    display: inline-block;
    margin-top: 2rem;
  }
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	margin-top: 2rem;
	height: 0;
}

.box .videoWrapper {
  margin-top: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.contact-form {
  background: white;
  padding: $unit $unit*3 0;
}

@media screen and (max-width: 740px) {
  .circle-image {
    width: $margin*5;
    height: $margin*5;
  }

  .box-image {
    height: 40vw;
    &.small {
      height: 22vw;
    }
  }

  .section .block {
    font-size: 1.2rem;
    border: none;
    padding: 0;
  }

  .block__title {
    min-height: 0;
  }

  .content-box {
    padding: $unit;
  }
  .section__feature-content {
    &.active {
      max-height: 2800px;
    }
  }

  p {
    padding: 0.5em $unit 0.5em 0;
    line-height: 1.4em;
  }
}

#usecase {
  border-top: 1px dotted $light-grey;
}

@media screen and (min-width: 1600px) {
  .section {
    padding: $unit*5 $margin*2;
    margin: 0 $margin*-2;
  }
}

