$font-color: #2B4643;
$action-color: #0090FC;
$action-bright: #59A5F7;
$action-hover: #59A5F7;
$purple: #7175dd;
$action-hover: $purple;
$secondary-color: #D1ED64;
$secondary-color: #C6E1DD;

$input-color: #F8FAFB;

$dark-grey: #2B4643;
$grey: #607981;
$mid-grey: lighten($grey, 20%);
$light-grey: #CED7D8;
$bg-grey: lighten($light-grey, 10);

$margin: 8vW;
$font-size: 15px;

$padding-unit: 1em;
$unit: 1rem;

