#############################################################
#                                                           #
#                   Primary requirements                    #
#                                                           #
#                       CHANGE ME !!!                       #
#                                                           #
# Update me and then run './entrypoint.sh pip_freeze'       #
#                                                           #
#############################################################

autopep8
coverage
django-attachments
django-cas-ng
django-cors-headers
django-extensions
django-filter
django-reversion-compare
django-storages
django-ums-client
django==1.10.7
djangorestframework
djangorestframework-filters
drf-extensions
flake8
hypothesis[django]
ipdb
jsonschema
markdown
mock
psycopg2==2.6.2
requests
uwsgi
