autopep8==1.2.1
coverage
Django==1.10
django-attachments
django-cas-ng
django-extensions
django-filter==0.11.0
djangorestframework==3.6.2
django-reversion-compare
django-storages
django-ums-client
dj_database_url==0.3.0
drf-extensions
fake-factory==0.7.2  # until hypothosis is updated to fix their dependency
flake8==2.4
hypothesis[django]
ipdb==0.8.1
jsonschema==2.5.1
markdown
psycopg2==2.6.1
requests
uwsgi==2.0.14
Werkzeug==0.11.2
