###
# frozen requirements DO NOT CHANGE
# To update this update 'primary-requirements.txt' then run ./entrypoint.sh pip_freeze
###
appdirs==1.4.0
autopep8==1.2.1
coverage==4.3.4
decorator==4.0.11
dj-database-url==0.3.0
Django==1.10
django-attachments==1.0.1
django-extensions==1.7.6
django-filter==0.11.0
django-storages==1.5.2
djangorestframework==3.5.3
drf-extensions==0.3.1
fake-factory==0.7.2
flake8==2.4.0
hypothesis==3.6.1
ipdb==0.8.1
ipython==5.2.2
ipython-genutils==0.1.0
jsonschema==2.5.1
Markdown==2.6.8
mccabe==0.3.1
packaging==16.8
pep8==1.5.7
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==0.8.1
Pygments==2.2.0
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
requests==2.13.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.1
uWSGI==2.0.14
wcwidth==0.1.7
Werkzeug==0.11.2
