###
# frozen requirements DO NOT CHANGE
# To update this update 'primary-requirements.txt' then run ./entrypoint.sh pip_freeze
###
autopep8==1.2.1
certifi==2017.4.17
chardet==3.0.4
coverage==4.4.1
decorator==4.0.11
dj-database-url==0.3.0
Django==1.10
django-attachments==1.1.1
django-cas-ng==3.5.7
django-extensions==1.7.9
django-filter==1.0.4
django-reversion==2.0.8
django-reversion-compare==0.7.5
django-storages==1.5.2
django-ums-client==0.2.3
djangorestframework==3.6.3
djangorestframework-filters==0.10.1
drf-extensions==0.3.1
fake-factory==0.7.2
flake8==2.4.0
hypothesis==3.11.3
idna==2.5
ipdb==0.8.1
ipython==6.1.0
ipython-genutils==0.2.0
jedi==0.10.2
jsonschema==2.5.1
Markdown==2.6.8
mccabe==0.3.1
pep8==1.7.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.14
psycopg2==2.6.1
ptyprocess==0.5.1
pyflakes==0.8.1
Pygments==2.2.0
python-cas==1.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.18.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.2
typing==3.6.1
urllib3==1.21.1
uWSGI==2.0.14
wcwidth==0.1.7
Werkzeug==0.11.2
