{
  "AWSEBDockerrunVersion": 2,
  "containerDefinitions": [
    {
      "name": "gathercore-app",
      "image": "387526361725.dkr.ecr.us-east-1.amazonaws.com/gather2core:{{ tag }}",
      "essential": true,
      "hostname": "gathercore-app"
      "memory": 3000,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 5000
        }
      ],
      "environment": [
        {
          "name": "STATIC_ROOT",
          "value": "/var/www/static"
        }
      ]
    }
  ]
}
