################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run                                                       #
#  docker-compose -f docker-compose-test.yml \                                 #
#                 run --no-deps integration-test pip_freeze                    #
#                                                                              #
################################################################################


aet.consumer>=0.9.1
aether.client>=0.10.0

kafka
requests
spavro

coverage
flake8
mock
pytest
pytest-runner

