######################################################################################################
#                                                                                                    #
#                             Primary requirements                                                   #
#                                                                                                    #
#                                 CHANGE ME !!!                                                      #
#                                                                                                    #
# Update me and then run 'docker-compose -f docker-compose-test.yml run integration-test pip_freeze' #
#                                                                                                    #
######################################################################################################


aet.consumer>=0.9.1
aether.client>=0.9.0
coreapi
coverage
flake8
kafka
mock
pytest
pytest-runner
requests
spavro
