#################################################################################################################
#                                                                              					#
#                             Primary requirements                             					#
#                                                                              					#
#                                 CHANGE ME !!!                                					#
#                                                                              					#
# Update me and then run 'docker-compose -f docker-compose-test.yml run integration-test pip_freeze'            #
#                                                                              					#
#################################################################################################################


aet.consumer
aether.client
aether.mocker
aether.saladbar
coverage
flake8
kafka
mock
pytest
pytest-runner
requests
spavro
