################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

aet.consumer>=2.0.0
aether.client

flake8
flake8-quotes
pytest
pytest-runner
