################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################

aet.consumer
aether.client

kafka
requests

flake8
pytest
pytest-runner
