################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps odk eval pip list --outdated                #
#                                                                              #
# Update me and then run                                                       #
#     docker-compose run --no-deps odk pip_freeze                              #
#                                                                              #
################################################################################


# Main libraries

# Django-eHa-SDK library with extras
django_eha_sdk[cas,server,storage,test]


# xForm and data manipulation
python-dateutil
pyxform
spavro
