################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run odk pip_freeze'                   #
#                                                                              #
################################################################################

django==1.11.9
django-cas-ng
django-cors-headers
django-debug-toolbar
django-ums-client
djangorestframework
drf-dynamic-fields
psycopg2-binary
python-dateutil
pytz
pyxform
raven
requests
uwsgi
xmltodict

# Aether common module
aether.common

# test libraries
coverage
flake8
flake8-quotes
mock
