################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run odk pip_freeze'                   #
#                                                                              #
################################################################################


# Main libraries

# Aether common module, will also require:
#   django < 2
#   django-cors-headers
#   django-debug-toolbar
#   django-prometheus
#   djangorestframework
#   djangorestframework-csv
#   psycopg2-binary
#   requests
aether.common


# Django specific
drf-dynamic-fields


# xForm and data manipulation
python-dateutil
pyxform
spavro


# UMS libraries
django-cas-ng
django-ums-client


# Server side
raven                  # Sentry
uwsgi                  # Server behind NGINX


# Test libraries
coverage
flake8
flake8-quotes
mock
