################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker-compose run --rm --no-deps odk eval pip list --outdated
#
# To update this first update "primary-requirements.txt" then run
#     docker-compose run --rm --no-deps odk pip_freeze
#
################################################################################

aether.sdk==1.4.3
asgiref==3.6.0
async-timeout==4.0.2
autopep8==2.0.0
boto3==1.26.50
botocore==1.29.50
cachetools==5.2.1
certifi==2022.12.7
charset-normalizer==3.0.1
configparser==5.3.0
coverage==7.0.5
defusedxml==0.7.1
Django==3.2.17
django-cacheops==6.1
django-cleanup==6.0.0
django-cors-headers==3.13.0
django-minio-storage==0.3.10
django-postgrespool2==2.0.5
django-prometheus==2.2.0
django-redis==5.2.0
django-silk==5.0.3
django-storages==1.13.2
django-uwsgi==0.2.2
django_debug_toolbar==3.8.1
djangorestframework==3.14.0
drf-dynamic-fields==0.4.0
et-xmlfile==1.1.0
flake8==5.0.4
flake8-quotes==3.3.2
funcy==1.17
google-api-core==2.11.0
google-auth==2.16.0
google-cloud-core==2.3.2
google-cloud-storage==2.7.0
google-crc32c==1.5.0
google-resumable-media==2.4.0
googleapis-common-protos==1.58.0
gprof2dot==2022.7.29
greenlet==2.0.1
idna==3.4
importlib-metadata==6.0.0
jmespath==1.0.1
lxml==4.9.2
Markdown==3.4.1
mccabe==0.7.0
minio==6.0.2
openpyxl==3.0.9
prometheus-client==0.15.0
protobuf==4.21.12
psycopg2-binary==2.9.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pyflakes==2.5.0
Pygments==2.14.0
python-dateutil==2.8.2
python-json-logger==2.0.4
pytz==2022.7.1
pyxform==1.11.1
redis==4.4.2
requests==2.28.2
rsa==4.9
s3transfer==0.6.0
sentry-sdk==1.13.0
six==1.16.0
spavro==1.1.24
SQLAlchemy==1.4.46
sqlparse==0.4.3
tblib==1.7.0
tomli==2.0.1
urllib3==1.26.14
uWSGI==2.0.21
xlrd==2.0.1
zipp==3.11.0
