################################################################################
#
#                             Primary requirements
#
#                                 CHANGE ME !!!
#
# To check the outdated dependencies run
#     docker-compose -f docker-compose-connect.yml run --rm --no-deps producer eval pip list --outdated
#
# Update me and then run
#     docker-compose -f docker-compose-connect.yml run --rm --no-deps producer pip_freeze
#
################################################################################

confluent-kafka
flask
gevent
psycogreen
redis
psycopg2-binary
requests
spavro
sqlalchemy


# Test libraries
flake8
pytest
