################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run                                                       #
#                                                                              #
# docker-compose -f docker-compose-connect.yml run producer pip_freeze         #
#                                                                              #
################################################################################

aether.client
confluent_kafka
flask
gevent
pytest
psycopg2-binary
psycogreen
requests
spavro
sqlalchemy
