################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run                                                       #
#                                                                              #
# docker-compose -f docker-compose-connect.yml run \                           #
#                --no-deps producer pip_freeze                                 #
#                                                                              #
################################################################################

aether.client
confluent_kafka
flask
gevent
psycogreen
redis
spavro
sqlalchemy
urllib3>=1.25  # due to security warning


# Test libraries
flake8
pytest
