################################################################################
#
#                              Frozen requirements
#
#                               DO NOT CHANGE !!!
#
# To check the outdated dependencies run
#     docker-compose -f docker-compose-connect.yml run --rm --no-deps producer eval pip list --outdated
#
# To update this first update 'primary-requirements.txt' then run
#     docker-compose -f docker-compose-connect.yml run --rm --no-deps producer pip_freeze
#
################################################################################

attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
click==8.0.3
confluent-kafka==1.8.2
flake8==4.0.1
flake8-quotes==3.3.1
Flask==2.0.2
gevent==21.12.0
greenlet==1.1.2
idna==3.3
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
mccabe==0.6.1
packaging==21.3
pluggy==1.0.0
psycogreen==1.0.2
psycopg2-binary==2.9.3
py==1.11.0
pycodestyle==2.8.0
pyflakes==2.4.0
pyparsing==3.0.7
pytest==7.0.0
requests==2.27.1
six==1.16.0
spavro==1.1.24
SQLAlchemy==1.4.31
tomli==2.0.1
urllib3==1.26.8
Werkzeug==2.0.3
zope.event==4.5.0
zope.interface==5.4.0
