################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To update this first update 'primary-requirements.txt'                       #
#                                                                              #
# docker-compose -f docker-compose-connect.yml run producer pip_freeze         #
#                                                                              #
################################################################################

