################################################################################
#                                                                              #
#                           Requirements for testing                           #
#                                                                              #
################################################################################


requests
spavro

# Test libraries
flake8
pytest
pytest-runner
