// ************************************
// Color Codes
// ************************************

$colors-list: #6ed7c2 #6ebcd7 #cfd76e #d7b46e #d79a6e #d76e89 #d76ec2 #a5b990 #88b5ac #bcb297;
@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .entity-type:nth-child(#{$i}) {
    .title {
      color: $current-color;
    }

    li:hover, .entityType-mapped {
      background-color: rgba($current-color, .2);
    }

    .entityType-mapped:hover {
    	background-color: $current-color;
    }
  }
}

.input-mapped {
  background-color: $light-grey;
}

