// ************************************
// Color Codes
// ************************************

$colors-list: (
  #6ed7c2
  #d76e89
  #6ebcd7
  #cfd76e
  #d7b46e
  #d79a6e
  #d76ec2
  #a5b990
  #88b5ac
  #bcb297
);

@each $current-color in $colors-list {
  $i: index($colors-list, $current-color);

  .entity-type:nth-child(#{$i}) {
    .title {
      color: $current-color;
    }

    .entityType-mapped {
      background-color: rgba($current-color, .2);
      position: relative;

      &::after {
        border-right: 0.6rem solid rgba($current-color, .2);
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: -.6rem;
        width: 0;
        height: 0;
        border-top: $font-size-xs solid transparent;
        border-bottom: $font-size-xs solid transparent;
      }

      &:hover {
        background-color: $current-color;
        &::after {
          border-right: 0.6rem solid rgba($current-color, 1);
        }
      }
    }
  }

  .input-mapped-#{$i} {
    background-color: rgba($current-color, .2);
    position: relative;

    &:hover {
      background-color: $current-color;
      &::before {
        background-color: $current-color;
      }
      &::after {
        border-left: 0.6rem solid rgba($current-color, 1);
      }
    }

    &::before {
      background-color: rgba($current-color, .2);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: -.6rem;
      width: .6rem;
      height: 100%;
      border-radius: .5rem 0 0 .5rem;
    }

    &::after {
      border-left: 0.6rem solid rgba($current-color, .2);
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: -.6rem;
      width: 0;
      height: 0;
      border-top: $font-size-xs solid transparent;
      border-bottom: $font-size-xs solid transparent;
    }
  }
}
