body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font: 15px $body-font-family;
  line-height: 1.3em;
}

a {
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0;
}

.btn,
button {
  @include label;
  border: 0;
  border-color: transparent;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }
}

.btn {
  background-color: $action-color;
  color: $white;
  padding: .5em 1em;
  line-height: 1em;

  &:active,
  &:focus,
  &:hover {
    background-color: $hover-color;
  }
}

.btn-sm {
  padding: .2em .5em;
}

.btn-primary,
a.btn-primary:not([href]) {
  @include bg-gradient;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba($text-color, .2), 1px 1px 0 rgba($white, .1) inset;
  padding: .9em 1.5em;
  transition: background 1s;

  &:active,
  &:focus,
  &:hover {
    background-color: $action-color;
    box-shadow: 1px 1px 1px rgba($text-color, .3), 1px 1px 0 rgba($white, .2) inset;
    color: $white;
  }
}

.btn-icon {
  padding: .6em 1.5em .7em 1em;
  display: flex;
  align-items: center;

  i {
    font-size: 1.6em;
    margin-right: .5em;
    position: relative;
  }

  i.invert {
    background: $white;
    font-size: .9rem;
    border-radius: 50%;
    padding: 3px 2px 3px 3px;
    width: 1.3rem;
    height: 1.3rem;
    color: $action-color;
  }
}

.btn.icon-only {
  border-radius: 50%;
  font-size: .86rem;
  width: 1.3rem;
  height: 1.3rem;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-danger {
  background: $red;
  
  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.btn-cancel {
  background: $grey;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($grey, 6);
  }
}

.btn-delete {
  background: $red;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.btn-default {
  background: none;
  border: 0;
  color: $action-color;

  &:hover {
    color: $hover-color;
    background: none;
  }
}

.btn-secondary {
  background: $action-color;
  border: 0;
  color: $white;

  &:hover {
    background: $hover-color;
    color: $white;
  }

  &:disabled,
  &.disabled {
    background-color: $grey;
  }
}

.small,
small {
  font-size: $font-size-s;
}

.badge {
  background: rgba($grey, .1);
  border-radius: $font-size-standard;
  padding: .3rem .6rem;
  font-weight: 300;
  font-size: $font-size-standard;
  margin: 0 .4em;
}

.badge-big {
  font-size: $font-size-l;
  border-radius: $font-size-l;
  padding: .6rem .9rem;
}

.badge-b {
  box-shadow: 0 1px 1px $shadow-color inset;
}

input[type='password'],
input[type='text'],
textarea,
textarea.form-control {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba($text-color, .3) inset;
  font-family: $body-font-family;
  padding: .8em;

  &:disabled {
    background: $light-grey;
    color: $grey;
  }
}

input,
input:focus,
input:active {
  outline: 0;
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px $text-color;
  top: 120%;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: $white;
    transform: rotate(45deg);
    position: absolute;
    left: 1.8rem;
    top: -6px;
  }
}

.dropdown-list {
  max-height: 16rem;
  overflow: auto;
}

.dropdown-item {
  color: $action-color;
}


pre {
  background-color: $black;
  font-family: monospace;
  font-size: $font-size-xs;
  color: $green;
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
  white-space: pre;
  padding: .5rem;
}

@media screen and (max-width: 576px) {

  body,
  html {
    font-size: 14px;
  }
}
