body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font: 15px $body-font-family;
  line-height: 1.3em;
}

a {
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

ul {
  padding-left: 1rem;
}

.container-fluid {
  padding: 0;
}

.btn,
button {
  @include label;
  border-radius: $border-radius;
  background: rgba($grey, .1);
  border: 0;
  border-color: transparent;
  padding: .4em 2em;
  box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 $shadow-color inset;
  transition: background .3s;

  &:active,
  &:focus,
  &:hover {
    cursor: pointer;
    outline: none;
    background: $action-color;
  }

  &:disabled {
    background: rgba($grey, .1);
    color: $grey;
    box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 rgba($text-color, .1) inset;
    cursor: default;
    pointer-events: none;
  }
}

// button on colored background

.btn-c {
  color: $white;
  background: rgba($white, .15);
  box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 rgba($text-color, .3) inset;
}

// button on dark background

.btn-d {
  color: $action-color-b;
  background: rgba($action-color-b, .15);
  box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 rgba($text-color, .3) inset, 0 0 4px rgba($text-color, .4);

  &:hover {
    color: $white;
  }
}

// button on white background

.btn-w {
  color: $action-color;
  box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 rgba($text-color, .3) inset;
}

.btn-flat {
  box-shadow: 1px 1px 0 rgba($white, .1) inset, -1px -1px 0 rgba($text-color, .3) inset, 1px 1px 0 rgba($white, .1), -1px -1px 0 rgba($text-color, .3);
}

.btn-primary {
  @include bg-gradient;
}

.btn-big {
  padding: 1em 3em;
  font-size: $font-size-standard;
}

.btn-sm {
  padding: .2em .5em;
}

.btn-danger {
  background: $red;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.btn-cancel {
  background: none;

  &:active,
  &:focus,
  &:hover {
    background-color: rgba($dark-blue, .1);
  }
}

.btn-delete {
  background: $red;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.small,
small {
  font-size: $font-size-s;
}

.badge {
  background: rgba($grey, .1);
  border-radius: $font-size-standard;
  padding: .3rem .6rem;
  font-weight: 300;
  font-size: $font-size-standard;
  margin: 0 .4em;
}

.badge-big {
  font-size: $font-size-l;
  border-radius: $font-size-l;
  padding: .6rem .9rem;
}

.badge-b {
  box-shadow: 0 1px 1px $shadow-color inset;
}

.form-label {
  display: block;
  font-weight: 300;
  letter-spacing: .04em;
  font-size: $font-size-m;
  margin-bottom: 1.2rem;
}

input[type='password'],
input[type='text'],
textarea {
  border: 0;
  border-radius: $border-radius;
  background: rgba($text-color, .1);
  box-shadow: 1px 1px 1px rgba($text-color, .3) inset, 1px 1px 0 rgba($white, .1);
  font-family: $body-font-family;
  padding: .8em;

  &:disabled {
    background: $light-grey;
    color: $grey;
  }
}

input,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: 0;
}

.dropdown-menu {
  border-radius: 0;
  border: 0;
  box-shadow: 0 2px 4px $text-color;
  top: 120%;

  &::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: $white;
    transform: rotate(45deg);
    position: absolute;
    left: 1.8rem;
    top: -6px;
  }
}

.monospace {
  font: $font-size-xs $code-font-family;
  line-height: 1.4em;
}

pre {
  background-color: $black;
  font-family: $code-font-family;
  font-size: $font-size-xs;
  color: $green;
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
  white-space: pre;
  padding: .5rem;
}

code {
  color: $light-grey;
  font: $font-size-xs $code-font-family;
  white-space: pre-wrap;
}

@media screen and (max-width: 768px) {

  body,
  html {
    font-size: 13px;
  }
}
