$duration: 1.6s;

.loading-spinner {
  position: relative;
}

@keyframes dot {
  0%   {opacity: 0; top:20px;background: $purple;}
  10%  {opacity: 1;}
  30%  {opacity: 1; top:5px;background: $action-color;}
  100% {opacity: 0; top:5px;background: $action-color;}
}

.dot1,
.dot2,
.dot3,
.dot4,
.dot5,
.dot6 {
  width: 50px;
  height: 50px;
  position: absolute;

  &::before {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100%;
    background: $action-color;
    width: 8px;
    height: 8px;
    left: 22px;
    top: 22px;
    opacity: 0;
    animation: dot $duration infinite;
  }

}

.dot2 {
  transform: rotate(60deg);

  &::before {
    animation-delay: $duration/6;
  }
}

.dot3 {
  transform: rotate(120deg);

  &::before {
    animation-delay: $duration/6*2;
  }
}

.dot4 {
  transform: rotate(180deg);

  &::before {
    animation-delay: $duration/6*3;
  }
}

.dot5 {
  transform: rotate(240deg);

  &::before {
    animation-delay: $duration/6*4;
  }
}

.dot6 {
  transform: rotate(300deg);

  &::before {
    animation-delay: $duration/6*5;
  }
}
