@mixin label {
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: uppercase;
}

@mixin logo-ui {
  background: url('/static/images/ui-icon.svg');
}

@mixin logo-eha {
  background: url('/static/images/eHA-icon.svg');
}

@mixin bg-gradient {
  background: $action-color;
  background-image: linear-gradient(to right, transparent, $hpurple);
  color: $white;
}
