.top-nav {
  padding: 2rem;
  transition: padding .4s;
  justify-content: flex-start;
  align-items: baseline;
}

.top-nav:hover + .pipeline {
  top: 54px;
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

.top-nav-breadcrumb {
  margin-left: 5%;
  animation: fade-in .6s;
}


.top-nav-user {
  @include label;
  margin-left: auto;

  .logout {
    margin-left: .7rem;
    font-size: $font-size-standard;
  }
}

.top-nav-logo {
  margin: 0;
  position: relative;


  span {
    display: inline-block;
    font-weight: 300;
    font-size: 28px;
    margin: 12px 60px 0;
    height: 24px;

    b {
      font-weight: 600;
    }
  }
}

.show-pipeline {
  .top-nav {
    padding: .8rem 1.4rem;
  }

  .top-nav-logo span {
    font-size: 20px;
    margin: 4px 42px;
  }

  .back,
  .front,
  .logo-container {
    height: 32px;
    width: 32px;
  }
}
