.navbar {
  background: $text-color;
  box-shadow: 0 -2px 2px rgba($black, .4) inset;
  font-weight: 700;
  padding: 0;
}


.user-name {
  border-left: 1px solid rgba($white, .2);
  text-transform: none;

  .logout {
    margin-left: .5rem;
  }
}

.navbar-brand {
  background: rgba($action-color, .3);
  margin: 0;
  padding: .6rem 1.5rem;
  position: relative;
  height: $navbar-height;

  span {
    display: inline-block;
    margin-left: 36px;
    padding: .1rem;
  }
}

@media screen and (max-width: 767px) {

  .user-name {
    border: 0;
    padding: 1rem;
  }
}
