.top-nav {
  padding: 2rem;
  transition: padding .2s;
  justify-content: flex-start;
  align-items: baseline;
  z-index: 1;
}

.top-nav:hover + .pipeline {
  top: 60px;
}

@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

.top-nav-breadcrumb {
  animation: fade-in .6s;
  letter-spacing: .06em;
  font-size: $font-size-s;
  opacity: .6;
  display: flex;
  align-items: baseline;
  flex: 1 1 auto;

  a {
    text-transform: uppercase;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }
}

.btn-publish {
  margin-left: auto;
  transition: all .4s;
  padding: .3em 1.2em;
}

.top-nav:not(:hover) .btn-publish {
  padding: .2em 1.2em;
  line-height: 1.3em;
}


.top-nav-user {
  @include label;
  transition: opacity .4s;
  margin-left: auto;

  .user-name {
    display: inline;
  }

  .logout {
    margin-left: .7rem;
    font-size: $font-size-standard;
  }
}

.top-nav-logo {
  margin: 0;
  position: relative;
  width: 2.4rem;
  height: 1.2rem;
  transition: opacity .4s;

  span {
    display: inline-block;
    font-weight: 300;
    font-size: 28px;
    margin: 12px 60px 0;
    height: 24px;

    b {
      font-weight: 600;
    }
  }
}

.show-pipeline {
  .top-nav {
    padding: .2rem 1rem;
  }

  .top-nav:hover {
    padding: 1rem;

    .top-nav-breadcrumb,
    .top-nav-logo {
      opacity: 1;
    }
  }

  .top-nav-logo span {
    display: none;
  }

  .back,
  .front,
  .logo-container {
    height: 24px;
    width: 24px;
  }

  .top-nav-logo {
    opacity: 0;
  }

  .top-nav-user {
    display: none;
  }
}
