.top-nav {
  padding: 2rem;
}


.top-nav-user {
  @include label;

  .logout {
    margin-left: .7rem;
    font-size: $font-size-standard;
  }
}

.top-nav-logo {
  margin: 0;
  position: relative;

  span {
    display: inline-block;
    font-weight: 300;
    font-size: $font-size-l;
    margin-left: 50px;
    padding: 10px;

    b {
      font-weight: 600;
    }
  }
}
