.alert {
  align-items: baseline;
  background: $background-color;
  box-shadow: 0 1px 2px $shadow-color;
  display: flex;
  margin: 0 -2em 1px;
  padding: 1em 2em 1em 4em;
  position: relative;

  .badge,
  i {
    margin: 0 .5em;
  }

  .badge {
    display: block;
    font-size: $font-size-s;
    height: 1.7em;
    line-height: 1.75em;
    padding: 0;
    text-align: center;
    width: 1.7em;
  }

  .badge-danger {
    background: $red;
  }

  .btn {
    margin-left: auto;
  }

  p {
    margin: 0;
  }

}

.alert-info {
  color: $dark-grey;
}

.alert-danger {
  color: $red;
}

.form-warning,
.form-error {
  margin-top: .5rem;

  p {
    font-style: italic;
    margin: 0;
  }

  .error {
    font-size: $font-size-s;
    color: darken($red, 10);
  }

  .warning {
    font-size: $font-size-xs;
    color: $dark-grey;
  }
}

.error {
  input,
  input:focus,
  textarea,
  textarea:focus {
    background: $red;
    color: $white;
  }
}
