body {
    font: 17px $body-font-family;
    color: $text-color;
    line-height: 1.3em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/************************************
 * Buttons
 ************************************/

a, a:not([href]):not([tabindex]) {
  color: $action-color;
  &:hover,
  &:focus,
  &:active {
    color: $hover-color;
    text-decoration: none;
  }
 }


button,
 .btn {
  font: 1em $body-font-family;
  border-color: transparent;
  @include label;
  &:hover,
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
    cursor: pointer;
  }
 }

.btn-primary,
.btn-info,
.btn-success,
a.btn-primary:not([href]) {
  color: white;
  background: $action-color;
  &:hover,
  &:focus,
  &:active {
    color: white;
    border-color: transparent;
    background: $hover-color;
  }
}

.btn-default {
  background: none;
  border: 1px solid $light-grey;
}
.btn, .btn-sm {
  padding: 0.6em 1em;
  i {
    margin-right: 0.25em;
  }
}
