body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font: 17px $body-font-family;
  line-height: 1.3em;
}

a,
a:not([href]):not([tabindex]) {
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0;
}

.btn,
button {
  @include label;
  border: 0;
  border-color: transparent;
  font: 1em $nav-font-family;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }
}

.btn-primary,
a.btn-primary:not([href]) {
  @include bg-gradient;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba($text-color, .2), 1px 1px 0 rgba($white, .1) inset;
  padding: .9em 1.5em;
  transition: background 1s;

  &:active,
  &:focus,
  &:hover {
    background-color: $edit-color;
    box-shadow: 1px 1px 1px rgba($text-color, .3), 1px 1px 0 rgba($white, .2) inset;
    color: $white;
  }
}

.btn-icon {
  padding: .6em 1.5em .9em 1em;

  i {
    display: inline-block;
    font-size: 1.6em;
    margin-right: .5em;
    position: relative;
    top: .1em;
  }
}

.btn-cancel {
  background: $grey;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($grey, 6);
  }
}

.btn-delete {
  background: $red;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.btn-default {
  background: none;
  border: 1px solid $light-grey;
}

.title {
  font-size: $font-size-s;
  font-style: italic;
}

.label {
  font-size: $font-size-xs;
  font-style: italic;
}

.small {
  font-size: $font-size-s;
}

input[type='password'],
input[type='text'] {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba($text-color, .3) inset;
  font-family: $body-font-family;
  padding: .8em;
}
