body,
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $text-color;
  font: 16px $body-font-family;
  line-height: 1.3em;
}

a {
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    color: $hover-color;
    text-decoration: none;
  }
}

.container-fluid {
  padding: 0;
}

.btn,
button {
  @include label;
  border: 0;
  border-color: transparent;

  &:active,
  &:focus,
  &:hover {
    box-shadow: none;
    cursor: pointer;
    outline: none;
  }
}

.btn-primary,
a.btn-primary:not([href]) {
  @include bg-gradient;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba($text-color, .2), 1px 1px 0 rgba($white, .1) inset;
  padding: .9em 1.5em;
  transition: background 1s;

  &:active,
  &:focus,
  &:hover {
    background-color: $edit-color;
    box-shadow: 1px 1px 1px rgba($text-color, .3), 1px 1px 0 rgba($white, .2) inset;
    color: $white;
  }
}

.btn-icon {
  padding: .6em 1.5em .7em 1em;
  display: flex;
  align-items: center;

  i {
    font-size: 1.6em;
    margin-right: .5em;
    position: relative;
  }

  i.invert {
    background: $white;
    font-size: .9rem;
    border-radius: 50%;
    padding: 3px 2px 3px 3px;
    width: 1.3rem;
    height: 1.3rem;
    color: $action-color;
  }
}

.btn.icon-only {
  border-radius: 50%;
  font-size: .86rem;
  width: 1.3rem;
  height: 1.3rem;
  padding: .1rem .2rem;
}

.btn-cancel {
  background: $grey;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($grey, 6);
  }
}

.btn-delete {
  background: $red;
  border-radius: 2px;
  color: $white;
  padding: .9em 1.5em;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($red, 6);
  }
}

.btn-default {
  background: none;
  border: 0;
  color: $edit-color;

  &:hover {
    color: $hover-color;
  }
}

.btn-secondary {
  background: $edit-color;
  border: 0;
  color: $white;

  &:hover {
    background: $hover-color;
    color: $white;
  }
}

.title {
  font-size: $font-size-s;
  font-style: italic;
}

.label {
  font-size: $font-size-xs;
  font-style: italic;
}

.small {
  font-size: $font-size-s;
}

input[type='password'],
input[type='text'] {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 1px 1px rgba($text-color, .3) inset;
  font-family: $body-font-family;
  padding: .8em;
}

.modal {
  background-color: rgba($text-color, .7);

  &.show {
    display: block;
  }

  .modal-header {
    align-items: flex-start;
  }

  .modal-dialog {
    margin: 80px auto;
  }

  .modal-content {
    box-shadow: 2px 2px 4px $darker-grey;
    border: 0;
    border-radius: $border-radius;
  }
}

.close {
  color: $action-color;
  opacity: 1;
  font-size: 2.5rem;
  line-height: 1rem;
  font-weight: 400;

  &:hover {
    color: $hover-color;
  }
}

.page-container {
  padding: 2rem 5vW;
}

.page-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    color: $light-grey;
    font: $font-size-xxl $nav-font-family;
    font-weight: 400;
    margin: 0;
  }
}

.page-content {
  font-size: $font-size-standard;
}

.page-title {
  font: $font-size-s $nav-font-family;
  font-weight: 700;
  margin-bottom: 3rem;
}

.actions {
  padding: 2rem 0;
  border-top: 1px solid $grey;
  display: flex;
  flex-wrap: wrap;

  &>div {
    margin-right: 1rem;
    margin-bottom: .5rem;

    &:last-child {
      margin-left: auto;
      margin-right: 0;
    }
  }
}

.big-input {
  margin-bottom: 2rem;

  .title {
    font-size: $font-size-standard;
  }

  input[type='password'],
  input[type='text'] {
    font-size: 1.2em;
  }
}

pre {
  background-color: $black;
  font-family: monospace;
  font-size: $font-size-xs;
  color: $green;
  max-height: 200px;
  max-width: 500px;
  overflow: auto;
  white-space: pre;
  padding: .5rem;
}

@media screen and (max-width: 576px) {

  .actions {

    &>div:last-child {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}

