@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  animation: spin 1.5s normal linear infinite;
  border: 4px solid $shadow-color;
  border-bottom-color: $dark-grey;
  border-left-color: $dark-grey;
  border-radius: 50%;
  height: 20px;
  position: relative;
  top: .2em;
  width: 20px;
}
