@keyframes spin {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg);  }
}

.loading-spinner {
  border: 4px solid $shadow-color;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border-bottom-color: $dark-grey;
  border-left-color: $dark-grey;
  animation: spin 1.5s normal linear infinite;
  position: relative;
  top: 0.2em;
}
