.logo-container {
  perspective: 1000px;
  position: absolute;

  &:hover .flipper {
    transform: rotateY(180deg);
  }
}

.back,
.front,
.logo-container {
  border-radius: 50%;
  height: 28px;
  width: 28px;
}

.flipper {
  position: relative;
  transform-style: preserve-3d;
  transition: 1s;
}

.back,
.front {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  box-sizing: border-box;
  left: 0;
  position: absolute;
  top: 0;
}

// front pane, placed above back
.front {
  @include logo-gather2;
  background-size: 100%;
  transform: rotateY(0deg);
  z-index: 2;
}

// back, initially hidden pane
.back {
  @include logo-eha;
  background-size: 100%;
  transform: rotateY(180deg);
}
