@mixin label {
  font-family: $nav-font-family;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin label-light {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin logo-gather2 {
  background: url('/static/images/gather-icon.svg');
}

@mixin logo-eha {
  background: url('/static/images/eHA-icon.svg');
}
