@mixin label {
  font-family: $nav-font-family;
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin label-light {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: 400;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@mixin logo-gather2 {
  background: url('/static/images/gather-icon.svg');
}

@mixin logo-eha {
  background: url('/static/images/eHA-icon.svg');
}

@mixin overlay {
  position: fixed;
  top: 160px;
  left: 4%;
  width: 92%;
  z-index: 10;
  background: $background-color;
  padding: 3rem 3rem 2rem;
  color: $darker-grey;
  box-shadow: 2px 2px 4px $darker-grey;

  .close-button {
    width: 30px;
    height: 30px;
    position: absolute;
    z-index: 15;
    right: 1rem;
    top: 1rem;
    cursor: pointer;

    &:before, &:after {
      content: "";
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 3px;
      background-color: $shadow-color;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
    }
    &:after {
      transform: rotate(-45deg);
    }

    &:hover {
      &:before, &:after {
        background-color: $hover-color;
      }
    }
  }
}
