@mixin label {
  font-family: $nav-font-family;
  font-size: .85rem;
  font-weight: 700;
  letter-spacing: .03em;
  text-transform: uppercase;
}
@mixin label-light {
  color: $grey;
  font-size: $font-size-xs;
  font-weight: 400;
  letter-spacing: .03em;
  text-transform: uppercase;
}
@mixin logo-gather2 {
  background: url('/static/images/gather-icon.svg');
}
@mixin logo-eha {
  background: url('/static/images/eHA-icon.svg');
}
@mixin bg-gradient {
  background: $action-color;
  background-image: linear-gradient(to right, transparent, $hover-color);
  color: $white;
}
@mixin overlay {
  background: $background-color;
  color: $darker-grey;
  left: 0;
  padding: 5rem 3rem 2rem;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100vW;
  z-index: 10;

  .close-button {
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 30px;
    z-index: 15;

    &::after,
    &::before {
      background-color: $shadow-color;
      border-radius: 3px;
      content: '';
      display: block;
      height: 3px;
      position: absolute;
      top: 50%;
      transform: rotate(45deg);
      width: 100%;
    }

    &::after {
      transform: rotate(-45deg);
    }

    &:hover {
      &::after,
      &::before {
        background-color: $hover-color;
      }
    }
  }
}
