.navbar {
  background: $text-color;
  box-shadow: 0 -2px 2px rgba(black, 0.4) inset;
  padding: 0;
  font: 0.9rem $nav-font-family;
  font-weight: 700;
}

.navbar-toggleable-md {
  align-items: stretch;
}

.navbar-nav {
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.navbar-nav.pull-right {
  margin-left: auto;
  float: none;
}

.nav-item {
  color: rgba(white, 0.5);
  padding: 0.2rem 1em 0;
  display: flex;
  align-items: center;
  @include label;

  .btn:not(.btn-primary) {
    color: $action-color;
  }
}

.user-name {
  text-transform: none;
  border-left: 1px solid rgba(white, 0.2);
}

.navbar-brand {
  padding: 0.6rem 1.5rem;
  margin: 0;
  background: rgba($action-color, 0.3);
  position: relative;
  span {
    display: inline-block;
    padding: 0.1em;
    margin-left: 36px;
  }
}

nav {
  color: $white;

  a {
    color: $white;
    &:hover {
      color: $action-color;
    }
  }
}

.navbar-toggler {
  color: white;
  z-index: 2;
  padding: 0.75rem;
}

@media screen and (max-width: 767px) {


  .nav-item {
    padding: 0.3em 1em;
  }

  .navbar-collapse {
    padding-left: 48px;
    border: none;
    padding-bottom: 0.5rem;
  }

  .nav-link {
    background: none;
    color: $action-color;
  }

  .user-name {
    border: none;
  }
}
