.pagination {
  align-items: baseline;
  background: $action-color;
  border-radius: 0;
  color: $text-color;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font: $font-size-s $nav-font-family;
  font-weight: 500;
  margin: 0;
  padding: .6rem 3rem;

  li {
    display: inline;
    margin: 0 10px;

    span.badge {
      border-radius: 1rem;
      font-size: $font-size-s;
      font-weight: 500;
      margin: 0 .5rem;
      padding: .5rem 1.5rem;
      background: rgba($white, .3);
    }
  }

  .page-item .page-link {
    @include label;
    background: transparent;
    border: 0;
    border-radius: 1rem;
    color: $white;
    cursor: pointer;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      color: $action-color;
      background: $white;
    }
  }
}
