/************************************
 * Colors
 ************************************/

$white: #fff;
$mint-green: #64E1AC;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;

$red: #D9534F;
$orange: #E8A835;
$green: #5CB85C;

$text-color: #4A4A4A;
$background-color: #F3F8FA;

$grey: #999999;
$dark-grey: #6D6B6D;
$darker-grey: #4A4A4A;
$light-grey: #C8C6C9;
$lighter-grey: #9B9B9B;
$bg-grey: #F7F7F7;

$shadow-color: rgba($text-color, 0.2);

$action-color: #5EB1F2;
$hover-color: #04B3D0;
$edit-color: #02D0AC;


/************************************
 * Fonts
 ************************************/

$body-font-family: "Asap", Arial, sans-serif;
$icon-font: FontAwesome;

$font-size-xs:       0.8rem;
$font-size-s:        0.875rem;
$font-size-standard: 1rem;
$font-size-m:        1.125rem;
$font-size-l:        1.3125rem;
$font-size-xl:       1.5rem;
$font-size-xxl:      2rem;


/************************************
 * Sizes
 ************************************/

$padding-unit: 4rem;
$border-radius: 0.25rem;
