.survey-edit {
  background: $background-color;
  min-height: calc(100vH - #{$navbar-height});
  padding: 2rem 5vW;
}

textarea.code {
  font-family: monospace;
}

input.hidden-file {
  width: .1px;
  height: .1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.survey-section {
  border-top: 1px solid $grey;
  padding: 1.5rem 0;

  label {
    font-size: $font-size-l;
    font-weight: 400;
  }
}
