.surveyors-list {
  padding: 2rem 5vW;
}

.surveyors {
  -webkit-column-count: 2; /* Chrome, Safari, Opera */
  -moz-column-count: 2; /* Firefox */
  column-count: 2;
  -webkit-column-gap: 2rem; /* Chrome, Safari, Opera */
  -moz-column-gap: 2rem; /* Firefox */
  column-gap: 2rem;

  .surveyor-list-item {
    border-top: 1px solid $light-grey;
    display: inline-block;
    width: 100%;

    .fa-user {
      font-size: .9rem;
      color: $dark-grey;
    }
  }

  .surveyor-header {
    padding: .4rem;
  }
}

.surveyor-edit {
  background: $background-color;
  height: 100vH;
  padding: 2rem 5vW;

  .username {
    font-family: $body-font-family;
    font-weight: 500;
  }

  .fa-user {
    font-size: .9rem;
    color: $dark-grey;
  }
}

@media screen and (min-width: 992px) {

  .surveyor-edit {
    form {
      width: 80%;
    }
  }
}
