.surveys-list {
  padding: 2rem 5vw;
}

.surveys-list-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  h1 {
    color: $light-grey;
    font: $font-size-xxl $nav-font-family;
    font-weight: 400;
    margin: 0;
  }
}

.surveys-list-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -.8rem;
}

.card-block {
  color: $text-color;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.card {
  border: 0;
  border-radius: 0;
  margin: .3rem 0 1.5rem;
  padding: 0 .8rem;
  width: 100%;

  &:hover {
    @include bg-gradient;

    .card-header,
    .card-header:first-child {
      border-top-color: transparent;
    }

    .card-display {
      color: $white;
    }
  }
}

.card-header,
.card-header:first-child {
  background: none;
  border: 0;
  border-radius: 0;
  border-top: 1px solid $text-color;
  padding: .8rem 0;
}

.card-dates {
  padding: .2rem 0;
}

.card-dates:not(:last-child) {
  border-right: 1px solid rgba($text-color, .3);
  margin-right: .4rem;
  padding-right: .2rm;
}

.card-display {
  @include label;
  font-weight: 500;
  padding: 1rem 0;
}

.card-number {
  display: block;
  font-size: 5rem;
  line-height: 5rem;
}

@media screen and (min-width: 992px) {
  .card {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    width: 32%;
  }
}
