.survey-edit {
  padding: 2rem 5vW;
  background: $background-color;
  height: 100vH;
}

.big-input {
  .title {
    font-size: $font-size-standard;
  }
  input[type="text"] {
    font-size: 1.2em;
  }
}

