.survey-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 4rem 5vw 1rem;

  h2 {
    font-size: $font-size-xl;
    font-weight: 400;
    margin: 0;
  }
}

.survey-detail {
  padding: 1rem 5vw;
  position: relative;
  display: flex;
  min-height: 12rem;

  .title {
    border-bottom: 1px solid $text-color;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }
}

.survey-schema {
  flex: 1;
}

.survey-dates {
  flex: 2;
  margin-right: 2rem;
}

.survey-records {
  @include label;
  position: absolute;
  bottom: 2rem;
  font-weight: 500;
  padding: 1rem 0;
}

.record-number {
  font-size: 2.6rem;
}

.survey-data {
  min-height: 100vh;
  overflow-x: hidden;

  nav {
    position: sticky;
    top: 70px;
  }

  .pagination {
    background: rgba($action-color, .9);
    padding: .3rem 3rem;

    input {
      padding: .3rem .5rem .2rem 1rem;
    }
  }
}

.survey-data-toolbar {
  background: $action-color;
  padding: 1.5rem 5vw 1.1rem;
  box-shadow: 0 1px 2px rgba($text-color, .5) inset, 0 1px 2px rgba($text-color, .5);
  position: sticky;
  height: 70px;
  top: 0;
  z-index: 100;
}

.survey-data-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.tab {
  background: none;
  color: $white;
  margin-right: 2rem;
  font-size: $font-size-s;
  letter-spacing: 0;

  &:hover,
  &.active {
    color: $text-color;
  }
}

.survey-content {
  width: 100vw;
  overflow: auto;
}

.survey-content.single {
  background: $bg-grey;
  padding: 2rem 12vw;

  .property {
    width: 100%;
    border-bottom: 1px solid $light-grey;
    display: flex;
    padding: .5rem 0;
    position: relative;

    .empty {
      color: lighten($dark-grey, 20);
    }

    .btn-collapse,
    .btn-expand {
      position: absolute;
      margin-left: -2rem;
      top: 1.5rem;
    }

    .property:first-child {
      padding-top: 0;
    }
  }

  .property:last-child {
    border: 0;
  }

  .property:only-child {
    padding: 0;
  }

  .property-title {
    font-style: italic;
    font-size: $font-size-standard;
    flex: 1;
    color: $dark-grey;
    margin: 0;
    margin-right: 1rem;
  }

  .property-value {
    flex: 3;
  }

  .property-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .property-item {
    padding-bottom: .5rem;
  }

  .array {
    display: block;

    &>.property-title {
      margin: 0;
      font-weight: 800;
      font-style: normal;
      color: $text-color;
      padding: 1rem 0;
    }

    .property-item {
      border-top: 2px solid $text-color;
      background: $white;
      padding: 1rem 1rem 0;
    }

    .data {
      padding-top: .5rem;
    }
  }

  .array .array {
    display: flex;
    &>.property-title {
      padding: 0;
      margin: 0 1rem 0 0;
    }
    .property-item {
      border: 0;
      margin: 0;
      padding: 1rem 0 0;
    }

    .btn-collapse,
    .btn-expand {
      top: .55rem;
    }
  }
}

.survey-content table {
  font-size: $font-size-s;
  margin-bottom: 0;

  thead {
    background: $bg-grey;
  }

  th {
    border: 0;
    border-bottom: 1px solid $dark-grey;
    font-weight: 400;
    font-style: italic;
    padding: 1rem .6rem;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: 1rem;
      bottom: 1rem;
      width: 1px;
      border-left: 1px solid $dark-grey;
    }
  }

  td {
    border: 0;
    border-bottom: 1px solid $lighter-grey;
    padding: .6rem 1rem;

    &:first-child {
      border-right: 1px solid $dark-grey;
      font-size: $font-size-l;
      text-align: right;
    }
  }
}
