{% extends "admin/base_site.html" %}
{% load i18n %}
{% load render_bundle from webpack_loader %}
{% load static %}

{% block extrastyle %}
  {% if dev_mode %}
    {# this is for CSS Hot reloading in development (render as another JS file) #}
    {% render_bundle 'styles' %}
  {% else %}
    {# render as CSS file #}
    {% render_bundle 'styles' 'css' %}
  {% endif %}
  <style>
    body {
      background: #50aef3;
      background-image: linear-gradient(to right, rgba(113, 117, 221, 0), #7175dd);
      font: 15px "Open Sans", Arial, sans-serif;
      color: white;
    }
    #header {
      display: none;
    }
    .top-nav-logo, .logout-info {
      margin: 0 auto 4rem;
      width: 300px;
    }
    .top-nav-logo {
      margin-top: 10vh;
    }
    .top-nav-logo span {
      display: inline-block;
      font-weight: 300;
      margin: 0 60px;
      height: 24px;
      color: white;
    }
    .btn {
      background: rgba(255, 255, 255, 0.15);
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(45, 49, 70, 0.3) inset, 0 0 4px rgba(45, 49, 70, 0.1);
      color: #fff;
      font-size: 1rem;
      margin-top: 1rem;
      padding: 1em 3em;
    }
    .btn:hover {
      box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset, -1px -1px 0 rgba(45, 49, 70, 0.3) inset, 0 0 4px rgba(45, 49, 70, 0.1);
    }
    p {
      font-size: 1rem;
      margin: 1rem 0;
    }
    .logout-info a, .logout-info a:visited {
      color: white;
      text-decoration: underline;
    }
  </style>
{% endblock %}

{% block breadcrumbs %}
{% endblock %}
{% block content_title %}
{% endblock %}


{% block content %}
  <div class="top-nav-logo" title="aether" href="#/">
    <div class="logo-container">
      <div class="flipper">
        <div class="front"></div>
        <div class="back"></div>
      </div>
    </div>
    <span data-app-name="app-name"><b>ae</b>ther</span>
  </div>
  <div class="logout-info">
    <p>Thank you for using Aether.</p>
    <p><a href="/accounts/login/?next=/">Log in again</a></p>
  </div>
{% endblock %}
