[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

requests = "*"
schema-salad = "*"
aether = {path = "./../aether-client", editable = true}


[dev-packages]

"autopep8" = "*"
