################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps couchdb-sync eval pip list --outdated       #
#                                                                              #
# Update me and then run                                                       #
#     docker-compose run --no-deps couchdb-sync pip_freeze                     #
#                                                                              #
################################################################################


# Main libraries

# Aether common module, will also require:
#   django < 2
#   django-cors-headers
#   django-debug-toolbar
#   django-prometheus
#   django-storages
#   djangorestframework
#   djangorestframework-csv
#   psycopg2-binary
#   requests
aether.common


# OAuth
oauth2client


# Task scheduler
django-rq
redis
rq
rq-scheduler


# CAS libraries
django-cas-ng
django-ums-client


# Server side
raven                  # Sentry
uwsgi                  # Server behind NGINX


# Test libraries
coverage
flake8
flake8-quotes
mock
