################################################################################
#                                                                              #
#                             Primary requirements                             #
#                                                                              #
#                                 CHANGE ME !!!                                #
#                                                                              #
# Update me and then run 'docker-compose run couchdb-sync pip_freeze'          #
#                                                                              #
################################################################################

django==1.11.9
django-cas-ng
django-cors-headers
django-debug-toolbar
django-rq
django-ums-client
djangorestframework
oauth2client
psycopg2-binary
raven
redis
requests
rq
rq-scheduler
uwsgi

# Aether common module
aether.common

# test libraries
coverage
flake8
flake8-quotes
mock
