################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To update this first update 'primary-requirements.txt'                       #
# then run 'docker-compose run couchdb-sync pip_freeze'                        #
#                                                                              #
################################################################################

aether.common==0.0.0
certifi==2018.4.16
chardet==3.0.4
click==6.7
coverage==4.5.1
croniter==0.3.24
Django==1.11.13
django-cas-ng==3.5.9
django-cors-headers==2.2.1
django-debug-toolbar==1.9.1
django-rq==1.1.0
django-ums-client==0.2.6
djangorestframework==3.8.2
djangorestframework-csv==2.1.0
flake8==3.5.0
flake8-quotes==1.0.0
httplib2==0.11.3
idna==2.7
mccabe==0.6.1
mock==2.0.0
oauth2client==4.1.2
pbr==4.0.4
psycopg2-binary==2.7.5
pyasn1==0.4.3
pyasn1-modules==0.2.1
pycodestyle==2.3.1
pyflakes==1.6.0
python-cas==1.2.0
python-dateutil==2.7.3
pytz==2018.4
raven==6.9.0
redis==2.10.6
requests==2.19.1
rq==0.11.0
rq-scheduler==0.8.3
rsa==3.4.2
six==1.11.0
sqlparse==0.2.4
unicodecsv==0.14.1
urllib3==1.23
uWSGI==2.0.17
