################################################################################
#                                                                              #
#                              Frozen requirements                             #
#                                                                              #
#                               DO NOT CHANGE !!!                              #
#                                                                              #
# To check the outdated dependencies run                                       #
#     docker-compose run --no-deps couchdb-sync eval pip list --outdated       #
#                                                                              #
# To update this first update "primary-requirements.txt" then run              #
#     docker-compose run --no-deps couchdb-sync pip_freeze                     #
#                                                                              #
################################################################################

certifi==2019.3.9
chardet==3.0.4
Click==7.0
coverage==4.5.3
croniter==0.3.30
Django==2.2.1
django-cas-ng==3.6.0
django-cors-headers==3.0.2
django-debug-toolbar==1.11
django-eha-sdk==1.0.4
django-prometheus==1.0.15
django-rq==2.0
django-uwsgi==0.2.2
djangorestframework==3.9.4
drf-dynamic-fields==0.3.1
entrypoints==0.3
flake8==3.7.7
flake8-quotes==2.0.1
httplib2==0.12.3
idna==2.8
lxml==4.3.3
mccabe==0.6.1
oauth2client==4.1.3
prometheus-client==0.6.0
psycopg2-binary==2.8.2
pyasn1==0.4.5
pyasn1-modules==0.2.5
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.4.2
python-cas==1.4.0
python-dateutil==2.8.0
python-json-logger==0.1.11
pytz==2019.1
redis==3.2.1
requests==2.22.0
rq==1.0
rq-scheduler==0.9
rsa==4.0
sentry-sdk==0.8.0
six==1.12.0
sqlparse==0.3.0
tblib==1.4.0
urllib3==1.25.3
uWSGI==2.0.18
