[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true


[packages]

requests = "*"
schema-salad = "*"
aether.mocker = {path = ".", editable = true}
aether.client = {path = "./../../aether-client", editable = true}



[dev-packages]

"autopep8" = "*"
