.survey-header {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 4rem 5vw 1rem;

  h2 {
    font-size: $font-size-xl;
    font-weight: 400;
    margin: 0 0 .5rem;
  }
}

.survey-detail {
  padding: 1rem 5vw;
  position: relative;
  display: flex;
  min-height: 13rem;

  .title {
    border-bottom: 1px solid $text-color;
    margin-bottom: 1rem;
    padding-bottom: .5rem;
  }
}

.survey-schema {
  flex: 1;
}

.survey-dates {
  flex: 2;
  margin-right: 2rem;
}

.survey-records {
  @include label;
  position: absolute;
  bottom: 2rem;
  left: 5vw;
  font-weight: 500;
  padding: 1rem 0;
}

.record-number {
  font-size: 2.6rem;
}

.survey-data {
  min-height: 100vh;

  nav {
    position: sticky;
    top: $toolbar-height;
    z-index: 100;
  }

  .pagination-bar {
    background: rgba($action-color, .9);
    box-shadow: none;
  }
}

.survey-data-toolbar {
  background: $action-color;
  padding: 1.5rem 5vw 1.1rem;
  box-shadow: 0 1px 2px rgba($text-color, .5) inset, 0 1px 2px rgba($text-color, .5);
  position: sticky;
  height: $toolbar-height;
  top: 0;
  z-index: 101;
}

.survey-data-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.toolbar-filter {
  margin-left: auto;
}

.tab {
  @include label;
  background: none;
  color: $white;
  margin-right: 2.2rem;
  padding: 0;
  font-size: $font-size-s;
  letter-spacing: 0;

  &:hover,
  &:focus,
  &.active {
    color: $text-color;
    background: none;
  }
}

.survey-content {
  width: 100%;
  overflow: auto;
  position: relative;
}

.survey-content.single {
  background: $bg-grey;
  padding: 2rem 12vw;

  .property {
    width: 100%;
    border-bottom: 1px solid $light-grey;
    display: flex;
    padding: .5rem 0;

    .empty {
      color: lighten($dark-grey, 20);
    }

    .btn-collapse,
    .btn-expand {
      margin-left: -1.8rem;
      margin-right: .4rem;
    }

    .property:first-child {
      padding-top: 0;
    }
  }

  .property:last-child {
    border: 0;
  }

  .property:only-child {
    padding: 0;
  }

  .property-title {
    font-style: italic;
    font-size: $font-size-standard;
    flex: 1;
    color: $dark-grey;
    margin: 0;
    margin-right: 1rem;
  }

  .property-value {
    flex: 3;
  }

  .property-list {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .property-item {
    padding-bottom: .5rem;
  }

  .array {

    &>.property-title {
      font-weight: 800;
      font-style: normal;
      color: $text-color;
    }

    .property-item {
      border-top: 2px solid $text-color;
      background: $white;
      padding: 1rem;
      margin: 1rem;
      margin-left: calc(-33.3% - 2rem);
      margin-right: -1rem;
    }

    .data {
      padding-top: .5rem;
    }
  }

  .array .array {

    .property-item {
      border: 0;
      margin: 0;
      padding: 1rem 0 0;
    }
  }
}

.survey-content table {
  font-size: $font-size-s;
  margin-bottom: 0;

  thead {
    background: $bg-grey;
    border-bottom: 1px solid $dark-grey;
  }

  th {
    border: 0;
    font-weight: 400;
    font-style: italic;
    padding: 1rem .6rem;
    position: relative;

    &::before {
      content: '';
      display: inline-block;
      position: absolute;
      left: 0;
      top: .6rem;
      bottom: .6rem;
      width: 1px;
      border-left: 1px solid $dark-grey;
    }
  }

  tr:first-child th:first-child {
    &::before {
      content: none;
    }
  }

  th[colspan] {
    padding: .4rem .6rem;

    &::before {
      bottom: 0;
    }
  }

  th[colspan='1'] {
    padding: 1rem .6rem;

    &::before {
      top: .6rem;
      bottom: .6rem;
    }
  }

  td {
    border: 0;
    border-bottom: 1px solid $lighter-grey;
    padding: .6rem;

    &:first-child {
      border-right: 1px solid $dark-grey;
      font-size: $font-size-l;
      text-align: right;
    }
  }

  .data > .property-list {
    min-width: 50vw;
  }

  .property-list {
    padding: 0;
    list-style-position: inside;
  }

  .property {
    display: flex;
    padding: .2rem 0;
    border-bottom: 1px dotted $light-grey;
  }

  .property:last-child {
    border: 0;
  }

  .property:only-child {
    padding: 0;
  }

  .property-title {
    font-style: italic;
    flex: 1;
    color: $dark-grey;
    margin-right: 1rem;
  }

  .property-value {
    flex: 3;
  }

  .badge {
    margin-left: .5rem;
  }
}

@media screen and (max-width: 576px) {

  .tab {
    margin-right: 1.2em;
  }
}

@media screen and (max-width: 768px) {

  .survey-header {
    padding-top: 2rem;
    flex-wrap: wrap;
    margin: 0;
  }

  .survey-detail {
    flex-direction: column;

    .survey-records {
      position: relative;
      bottom: auto;
      left: auto;
    }

    &>div {
      flex: 1;
      width: 100%;
      margin-bottom: 2rem;
   }
  }

  .survey-data-toolbar {
    padding: 1rem 5vw;
    height: $toolbar-height-mobile;
  }

  .toolbar-filter {
    margin: .5rem 0 0;
    padding-top: .6rem;
    width: 100%;
    border-top: 1px solid rgba($white, .3);
  }

  .survey-data {

    nav {
      top: $toolbar-height-mobile;
    }
  }
}
